[2021-11-12 15:35] glenn-jocher opened #2 "How to raise an Issue about Ultralytics HUB"
### Search before asking

- [X] I have searched the HUB [issues](https://github.com/ultralytics/hub/issues) and [discussions](https://github.com/ultralytics/hub/discussions) and found no similar questions.

### Question

If you are a new Ultralytics HUB user and have questions or comments for Ultralytics, you are in the right place! Please click the [New Issue](https://github.com/ultralytics/hub/i

[2021-11-12 15:36] #2 closed

[2021-11-12 15:37] glenn-jocher opened #3 "How to raise an Ultralytics HUB Issue"
## Ultralytics HUB Issues

Hello from the Ultralytics Team! We've been working hard to launch Ultralytics HUB, a new web tool for training and deploying YOLOv5 🚀 models.

If you are a new Ultralytics HUB user and have questions or comments for Ultralytics, you are in the right place! Please click the [New Issue](https://github.com/ultralytics/hub/issues/new/choose) button in the [Issues](https://g

[2021-11-12 15:39] #3 closed

[2021-11-12 15:40] glenn-jocher opened #4 "How to raise an Ultralytics HUB Issue"
### Search before asking

- [X] I have searched the HUB [issues](https://github.com/ultralytics/hub/issues) and [discussions](https://github.com/ultralytics/hub/discussions) and found no similar questions.

### Question

Hello from the Ultralytics Team! We've been working hard to launch Ultralytics HUB, a new web tool for training and deploying YOLOv5 🚀 models.

If you are a new Ultralytics HUB us

[2021-11-12 16:44] glenn-jocher opened #5 "Dataset Guidelines"
Ultralytics HUB datasets are just like YOLOv5 🚀 datasets, they use the same structure and the same label formats to keep everything simple.

## 1. Upload a Dataset

When you upload a dataset to Ultralytics HUB, make sure to **place your dataset YAML inside the dataset root directory** as in the example shown below, and then zip for upload to https://hub.ultralytics.com/. Your **dataset YAML, direc

[2021-11-16 16:33] glenn-jocher commented on #2
![banner_hub_3840](https://user-images.githubusercontent.com/26833433/142024981-979d6214-1520-4c3b-b29b-1bdb3355229d.png)

[2021-12-10 02:27] kalenmike opened #6 "Training Models to Show More Information"
### Search before asking

- [X] I have searched the HUB [issues](https://github.com/ultralytics/hub/issues) and found no similar feature requests.

### Description

When a model is in training it would be helpful to see how many epochs are completed versus the total. It would also be awesome to see an estimated time to completion and perhaps a total train time to date. It would be great to preview

[2021-12-10 02:29] kalenmike opened #7 "Filter Datasets by Class"
### Search before asking

- [X] I have searched the HUB [issues](https://github.com/ultralytics/hub/issues) and found no similar feature requests.

### Description

It would be great to be able to filter the classes shown in the dataset preview. At the moment there is a lot of scrolling involved to get to even the second class. I would like to be able to toggle classes on and off so that I can loo

[2021-12-15 15:22] kalenmike commented on #7
This feature has been added to v0.1.7-beta.

[2021-12-15 15:22] #7 closed

[2021-12-23 11:51] glenn-jocher opened #8 "Product Roadmap Feature List"
Hi All,

We are always looking to improve the Ultralytics HUB and to provide features that are most useful to our users. 🚀

## In Progress
- [ ] Ultralytics Cloud training with GPU (K80, P4, T4, P100, V100, A100)
- [ ] Plan upgrades to meet your requirements
- [x] Custom Dataset Validation. We are working to improve the validation of your custom datasets to prevent simple errors.
- [x] UI/UX Updat

[2022-01-12 00:05] glenn-jocher opened #10 "Unable to Edit Model Training Parameters"
### Search before asking

- [X] I have searched the HUB [issues](https://github.com/ultralytics/hub/issues) and found no similar bug report.

### HUB Component

Models, Training

### Bug

I'm not able to edit training parameters here. When I click the edit icon the fields become editable, but then when I click the cursor in the edit field the field disappears and is replaced with the text value.

[2022-01-12 05:30] UnkoC0wbOy opened #11 "Dataset processing"
### Search before asking

- [X] I have searched the HUB [issues](https://github.com/ultralytics/hub/issues) and found no similar bug report.

### HUB Component

Datasets

### Bug

Processing times are over 48 hours to upload relatively small datasets <500 images. Datasets have been downloaded straight from Roboflow using the YOLOv5 PyTorch option. I have had to manually change the .YAML file name

[2022-01-12 18:07] kalenmike commented on #11
@UnkoC0wbOy Thank you for submitting this bug. The dataset you are trying to upload is not formatted correctly, both the YAML and the folder structure of the zip are incorrect. I have corrected the format and attach the zip here for you to use as reference.

[Sheds.zip](https://github.com/ultralytics/hub/files/7856676/Sheds.zip)

I have also replaced your last attempt with the correctly formatted

[2022-01-12 18:29] kalenmike commented on #10
@glenn-jocher Thanks for submitting this bug. It has been confirmed on our end and we are working on a fix for the next release.

[2022-01-15 14:27] kalenmike commented on #10
Deployed in version v0.1.10-beta.3

[2022-01-15 14:27] #10 closed

[2022-01-15 14:42] kalenmike commented on #11
Smaller datasets are now validated before upload (> v0.1.10-beta.3). An error message is displayed if the the dataset is formated incorrectly to help with debugging.

[2022-01-16 21:32] glenn-jocher commented on #10
Great!

[2022-01-16 21:33] glenn-jocher commented on #11
@kalenmike awesome, nice work!!

[2022-01-18 21:10] glenn-jocher commented on #6
@kalenmike should we update the stale patience to 90 days? I've seen 90 days used in other repos occasionally.

We can make changes easily here:
https://github.com/ultralytics/hub/blob/6f75dcc28e8d5b82902767664cae2cc1e5703f01/.github/workflows/stale.yml#L34-L38

[2022-02-22 01:06] #11 closed

[2022-02-23 01:14] #6 closed

[2022-04-06 20:11] aarmijo opened #14 "Unable to upload dataset"
### Search before asking

- [X] I have searched the HUB [issues](https://github.com/ultralytics/hub/issues) and found no similar bug report.

### HUB Component

Datasets

### Bug

After selecting a custom dataset "custom.zip" or the sample one "coco6.zip" included in the tutorial [create a dataset](https://github.com/ultralytics/hub#1-create-a-dataset), a dialog screen appears with this content: *

[2022-04-06 21:35] glenn-jocher commented on #14
@aarmijo thanks for the bug report! I'll take a look.

[2022-04-07 07:25] kalenmike commented on #14
@aarmijo Thank you for reporting this bug and providing the required information. This was reproduced on Windows 10 running Chrome 100 and has now been resolved with HUB v0.1.13-beta.3

[2022-04-07 09:20] aarmijo commented on #14
@kalenmike @glenn-jocher  Now it is working correctly. Thank you for your help!

[2022-04-10 09:32] #14 closed

[2022-04-19 07:51] dhunjoshi opened #17 "Upload dataset"
### Search before asking

- [X] I have searched the HUB [issues](https://github.com/ultralytics/hub/issues) and [discussions](https://github.com/ultralytics/hub/discussions) and found no similar questions.

### Question

Dataset upload shows error. but what error not clear. make dataset as per coco6 example. coco6 is uploading correct but , other could not be upload.

### Additional

_No response_

[2022-04-19 08:02] dhunjoshi commented on #17
[latch.zip](https://github.com/ultralytics/hub/files/8511085/latch.zip)
sample dataset.

[2022-04-19 10:30] kalenmike commented on #17
@dhunjoshi Thanks for raising a question. I reviewed your dataset and in your yaml you are refering to images with a lower case i, while the folder has an upper case I. Which is the reason this error shows that the images cannot be found.

![image](https://user-images.githubusercontent.com/25989362/163984703-730f44a8-fafd-4887-a00f-80d5909c24ae.png)

If you rename the folder to lowercase 'i' and t

[2022-04-19 10:30] #17 closed

[2022-04-19 11:14] dhunjoshi commented on #17
i have change that but still not working.

i have change but still got error.

[2022-04-19 11:19] dhunjoshi commented on #17
After adding more images. error comes again.

[2022-04-19 14:06] kalenmike commented on #17
@dhunjoshi Its because you still have the same error in your dataset. The names are case sensitive.
![image](https://user-images.githubusercontent.com/25989362/164022621-781297eb-c91b-4ba7-9355-63efd2f24a48.png)
![image](https://user-images.githubusercontent.com/25989362/164022669-b62b7c1b-8419-4f95-9bf5-79ed8584c3f3.png)

[2022-04-22 12:31] Powercube7 opened #18 "Automatically cache dataset"
### Search before asking

- [X] I have searched the HUB [issues](https://github.com/ultralytics/hub/issues) and found no similar feature requests.

### Description

I have found myself training a model in Google Colab without any caching strategy enabled. The model trains quite slow, and I have also found myself with about 20GB of free disk space and 9GB of free RAM. From my point of view, making

[2022-04-22 19:07] glenn-jocher commented on #18
@Powercube7 that's a great idea! We check available RAM and HDD space in YOLOv5 here. The main question is how to estimate a cached dataset size. Maybe we could attempt to cache 1% of the dataset and exrapolate the full requirements from there, and proceed to cache if they extrapolation estimates <80% RAM or <50% HDD usage.

If we apply this to the base YOLOv5 repo then HUB trainings will naturall

[2022-04-22 19:09] glenn-jocher commented on #18
@Powercube7 if you'd like to start a PR on this that would be a huge help!

Please see our ✅ [Contributing Guide](https://github.com/ultralytics/yolov5/blob/master/CONTRIBUTING.md) to get started.

[2022-04-22 19:17] Powercube7 commented on #18
@glenn-jocher I don't know if I will manage to, but I will try my best to help!

[2022-04-22 19:26] glenn-jocher commented on #18
@Powercube7 awesome, thanks!

[2022-04-22 20:00] Pro100rus32 opened #19 "Not all models are available for training"
### Search before asking

- [X] I have searched the HUB [issues](https://github.com/ultralytics/hub/issues) and found no similar feature requests.

### Description

I can't train the models: YOLOv5n6, YOLOv5s6, YOLOv5m6, YOLOv5l6, YOLOv5x6
![image](https://user-images.githubusercontent.com/64806740/164785141-07bda38b-609c-4811-91a1-634702e83519.png)

### Use case

_No response_

### Additional

_N

[2022-04-22 20:06] Pro100rus32 opened #20 "The hub does not work for Russian users."
### Search before asking

- [X] I have searched the HUB [issues](https://github.com/ultralytics/hub/issues) and found no similar bug report.

### HUB Component

Signin, Datasets

### Bug

It is impossible to download dataset and also to log in or register to the account from the Russian IP address.

### Environment

- Windows 11
- Chrome 100.0.4896.127

### Minimal Reproducible Example

1. Login t

[2022-04-22 20:47] glenn-jocher commented on #19
@Pro100rus32 thanks for the feedback! Yes you are right, all the P6 models are missing. We are working on many updates to HUB that should be rolling out in the next few weeks, and we'll try to include the additional models missing here as well.

@sergiossm @kalenmike

[2022-04-22 22:34] glenn-jocher commented on #20
@Pro100rus32 thanks for the bug report!

One of our core values is universal access to AI for all. We think everyone should have the same opportunities no matter who they are or where they live. Indeed @alexeyab in Moscow has been an instrumental contributor to YOLO with https://github.com/AlexeyAB/darknet, and I think AI research and collaboration should rise above politics.

In the past we resol

[2022-04-24 03:18] 173970984 opened #21 "The word seems to be wrong"
### Search before asking

- [X] I have searched the HUB [issues](https://github.com/ultralytics/hub/issues) and [discussions](https://github.com/ultralytics/hub/discussions) and found no similar questions.

### Question

![image](https://user-images.githubusercontent.com/7731320/164954855-808ffc9f-9153-47de-ad0b-c5cf79f068a3.png)
The word seems to be wrong

### Additional

![image](https://user-im

[2022-04-24 03:20] 173970984 opened #22 "Use examples don't seem to work"
### Search before asking

- [X] I have searched the HUB [issues](https://github.com/ultralytics/hub/issues) and [discussions](https://github.com/ultralytics/hub/discussions) and found no similar questions.

### Question

![image](https://user-images.githubusercontent.com/7731320/164954931-2e53e9d7-5074-4d28-91ea-5172f9f9c76b.png)
Use examples don't seem to work

### Additional

_No response_

[2022-04-24 18:08] glenn-jocher commented on #22
@173970984 thanks for the bug report! You are right this is a typo we have in our command! We'll have our web team fix this @kalenmike

With your command it looks like your ultralytics or yolov5 code may simply be out of date. Can you try to update ultralytics and delete your local yolov5 copy and see if this fixes the problem:
[code]

[2022-04-24 18:53] glenn-jocher commented on #21
@173970984 thanks for the bug report! You are right the spelling is a mistake, we will correct this.

[2022-04-25 11:29] kalenmike commented on #21
@173970984 Thanks for raising this issue. We have corrected the typo for v0.1.14-beta. Please let us know if you find anything else.

[2022-04-25 11:31] kalenmike commented on #22
@173970984 @glenn-jocher The typo has been fixed for v0.1.14-beta.

[2022-04-25 11:37] kalenmike commented on #20
@Pro100rus32 Thanks for bringing this to our attention. We have taken no action ourselves to block Russian IP addresses, however due to the recent sanctions several platforms have begun doing so. To help track down this issue further could you please answer the following questions:

1. With which accounts are you unable to register/login (Email, Google, GitHub, Apple)?
2. When you did gain access

[2022-04-25 12:54] kalenmike commented on #22
@173970984 The error you are seeing in your screenshot:

`File "/home/ace/Developer/Websites/development/test-yolo/utils/general.py", line 186, in print_args
    LOGGER.info(colorstr(s) + ', '.join(f'{k}={v}' for k, v in args.items()))
AttributeError: 'str' object has no attribute 'items'
`
This is due to the way you have structured you folders. The Ultralytics pip package will clone YOLOv5 into .

[2022-04-25 12:54] #22 closed

[2022-04-25 19:24] glenn-jocher commented on #22
@kalenmike maybe we should rename the utils directory in ultralytics?

[2022-04-25 21:44] kalenmike commented on #22
@glenn-jocher That would be a quick way to solve this issue. Rename the utils folder or even general.py.

[2022-04-25 23:26] glenn-jocher commented on #22
@kalenmike @173970984 `ultralytics.utils` renamed to `ultralytics.yolov5_utils` now in `ultralytics==0.0.17`.

You can update your version with `pip install -U ultralytics`

[2022-04-26 21:48] glenn-jocher commented on #22
@173970984 your original issue may now be resolved in `ultralytics==0.0.19`

Please update with `pip install -U ultralytics` and let us know if this resolves your issue!

[2022-04-27 06:51] Marcof64 opened #23 "Pixel 3i"
### Search before asking

- [X] I have searched the HUB [issues](https://github.com/ultralytics/hub/issues) and found no similar bug report.

### HUB Component

Datasets

### Bug

Does not load downloaded data sets and does not start recognition

### Environment

_No response_

### Minimal Reproducible Example

_No response_

### Additional

_No response_

[2022-04-27 17:22] sergiossm commented on #23
Hi @Marcof64, thank you for using our product!

I assume your issue is related to the app as you're mentioning the recognition. Could you provide further info on how to replicate the issue?

The app currently doesn't have support for Datasets, maybe you're referring to a Project or a Model? If that's the case, what's its name? And is it public or private?

Also, can you confirm that the device you

[2022-04-28 07:41] Marcof64 commented on #23
Hello Sergio,

Yes I am trying the public Android app.

My company, COMM3000 srp, has bought a license for the Ultralytics library and developing on iOS, all works fine there.

I installed the Android app on my Pixel 3i to try it out on Android, registered and downloaded the public Yolo models available.

When I start “recognition” nothing happens, when I change model, even the smallest one and th

[2022-04-28 11:41] sergiossm commented on #23
@Marcof64 thank you for your understanding 🙌

As you say, the great HW difference in Android devices makes it a bit tricky to develop this kind of app. Even though we try our best!

We currently don't have a list of supported/unsupported Android devices. Right now we're conducting all our tests on a Xiaomi Mi 11.

We've implemented a fix for this, but we, unfortunately, couldn't test it as we're n

[2022-04-28 14:36] sergiossm commented on #23
@Marcof64 the new version is active in Google Play. Please, let us know whether the issue has been solved.

[2022-04-28 15:30] Marcof64 commented on #23
Now I am able to get recognitions

Canging model requires to kill and relaunch app but works

Are you getting good framerates in the xiomi?

[2022-04-28 17:00] sergiossm commented on #23
Glad we got it fixed @Marcof64 👍

We're not getting any crash reports about this, can you uninstall the app (removing its data and cache from the Android settings) and reinstall it again? Please, come back to us if the issue persists.

Framerates are quite good in relatively new Android devices (from 2021 onward). Here's a video of the app running on a Xiaomi Mi 11 and changing models.

https://us

[2022-04-28 17:17] Marcof64 commented on #23
Da: Sergio Sánchez ***@***.***>
Inviato: giovedì 28 aprile 2022 19:01
A: ultralytics/hub ***@***.***>
Cc: Marcof64 ***@***.***>; Mention ***@***.***>
Oggetto: Re: [ultralytics/hub] Pixel 3i (Issue #23)

Now I am able to get recognitions

Glad we got it fixed @Marcof64 <https://github.com/Marcof64>  👍

Canging model requires to kill and relaunch app but works

We're not getting any crash reports ab

[2022-04-28 17:40] sergiossm commented on #23
How long are you holding before killing the app? Recreating the detector might take a while. Your device operates on a Snapdragon 670 -if I'm not mistaken- versus a Snapdragon 888 on our side, that's probably the reason why the app seems to get stuck changing the model.

Please, follow these steps:
1. Remove app data and cache from the Android settings.
2. Uninstall the app
3. Reinstall from Googl

[2022-04-28 17:43] Marcof64 commented on #23
You are right, it’s just the phone that is very slow.

All is fine.

Thanks

Marco

Da: Sergio Sánchez ***@***.***>
Inviato: giovedì 28 aprile 2022 19:40
A: ultralytics/hub ***@***.***>
Cc: Marcof64 ***@***.***>; Mention ***@***.***>
Oggetto: Re: [ultralytics/hub] Pixel 3i (Issue #23)

Changing model has no effect as the frame rate does not change and I get a “loading YOLOv5 xxx” superimposed on t

[2022-04-28 18:16] sergiossm commented on #23
Thank you for your feedback @Marcof64. Closing the issue.

[2022-04-29 02:35] dhunjoshi opened #24 "EdgeTpu Export model inference"
### Search before asking

- [X] I have searched the HUB [issues](https://github.com/ultralytics/hub/issues) and [discussions](https://github.com/ultralytics/hub/discussions) and found no similar questions.

### Question

How can we use Exported edgetpu model for inference. In windows 10 with google coral usb accelerator.

### Additional

_No response_

[2022-04-29 05:35] gdmcdonald opened #25 "Is it possible to upload a pretrained YOLOv5 model to HUB?"
### Search before asking

- [X] I have searched the HUB [issues](https://github.com/ultralytics/hub/issues) and [discussions](https://github.com/ultralytics/hub/discussions) and found no similar questions.

### Question

We have trained a model for wildlife species detection for 71 animal species in Australian national parks. Is it possible for us to upload this into the hub and use it there?

###

[2022-04-29 09:35] kalenmike commented on #25
@gdmcdonald Thank you for your question.

Currently we do not have the option to upload an existing model. We are still in the process of developing the Ultralytics HUB and want to add the features that are most useful for our users. Would you please expand a little on your question so that we could have a better understanding of the feature you are requesting?

- Upload an existing model to the U

[2022-04-29 19:30] glenn-jocher commented on #24
@dhunjoshi good question! The official YOLOv5 export code provides the following Usage examples on exported EdgeTPU models:
[code]

Official EdgeTPU inference examples are not yet available, but if you post your question on the YOLOv5 repo you may be able to get community feedback for EdgeTPU inference:
https://github.com/ultralytics/yolov5

[2022-04-30 03:22] #23 closed

[2022-04-30 09:18] Valenso-ua opened #26 "Model upload"
### Search before asking

- [X] I have searched the HUB [issues](https://github.com/ultralytics/hub/issues) and [discussions](https://github.com/ultralytics/hub/discussions) and found no similar questions.

### Question

can I upload my already trained model to your service?

### Additional

didn't see how to do it

[2022-04-30 23:01] glenn-jocher commented on #26
@Valenso-ua duplicate of https://github.com/ultralytics/hub/issues/25.

No, it is not possible to upload trained models to HUB, but you can upload your dataset to HUB and then train a new model there.

[2022-04-30 23:02] glenn-jocher commented on #26
@Valenso-ua closing issue to move convo to #25

[2022-04-30 23:02] #26 closed

[2022-05-03 08:33] kalenmike commented on #19
@Pro100rus32 Thanks for voting up the importance of having all models available for training. We have added in the P6 models. If anything else comes to mind on how we can improve your training experience please let us know!

Thanks again.

[2022-05-03 08:33] #19 closed

[2022-05-05 08:14] iRaiyz opened #27 "Problems using custom model with Pytorch"
### Search before asking

- [X] I have searched the HUB [issues](https://github.com/ultralytics/hub/issues) and [discussions](https://github.com/ultralytics/hub/discussions) and found no similar questions.

### Question

Hello,
I trained a model via Ultralytics Hub and a custom dataset that I uploaded. I am now looking to utilize the model via Pytorch or Tensorflow to predict images. I exported th

[2022-05-05 19:35] glenn-jocher commented on #27
@iRaiyz good question, I'll take a look.

[2022-05-05 20:46] glenn-jocher commented on #27
@iRaiyz 👋 hi, thanks for letting us know about this possible problem with YOLOv5 🚀. PyTorch Hub inference with Ultralytics HUB models works correctly in my test just now:

<img width="1353" alt="Screen Shot 2022-05-05 at 1 46 06 PM" src="https://user-images.githubusercontent.com/26833433/167022841-f2ca74b7-1ac7-48e4-873a-07db70205697.png">

We've created a few short guidelines below to help users

[2022-05-09 09:11] Marcof64 commented on #23
Hello Sergio,

COMM3000 has bought non-commercial access to iOS and Android source code for the app, as far as you know has the Android source code been published in the reserved area?

If so can you help us locate it?

We have ordered a phone identical to the one you indicated to test it.

Thanks

Marco

Da: Sergio Sánchez ***@***.***>
Inviato: giovedì 28 aprile 2022 20:17
A: ultralytics/hub ***@

[2022-05-09 09:34] stefani-kovachevska commented on #23
Hi @Marcof64,

COMM3000 should have access to 4 repositories, including _YOLOv5 Flutter_ which supports YOLOv5 on both Android and iOS. You should be able to access them from [Emiliano](https://github.com/emilianotre)'s account.

Great to hear, we're excited to hear your feedback! 😃

If there's anything else we can help with, please let us know.

Stefani Kovachevska
Project Manager @Ultralytics

[2022-05-09 09:39] Marcof64 commented on #23
Thanks!

Da: Stefani ***@***.***>
Inviato: lunedì 9 maggio 2022 11:35
A: ultralytics/hub ***@***.***>
Cc: Marcof64 ***@***.***>; Mention ***@***.***>
Oggetto: Re: [ultralytics/hub] Pixel 3i (Issue #23)

Hi @Marcof64 <https://github.com/Marcof64> ,

COMM3000 has bought non-commercial access to iOS and Android source code for the app, as far as you know has the Android source code been published in

[2022-05-11 00:44] tininha94 opened #28 "Error Uploading a new dataset on ultralytics"
### Search before asking

- [X] I have searched the HUB [issues](https://github.com/ultralytics/hub/issues) and [discussions](https://github.com/ultralytics/hub/discussions) and found no similar questions.

### Question

Hello,
I am having problems uploading a dataset on the hub. I followed the steps on this link https://github.com/ultralytics/hub#1-create-a-dataset to create my dataset with robof

[2022-05-11 01:10] tininha94 commented on #28
The problem was solved by arrending the folders and the yams file. Thanks! :)

[2022-05-11 01:27] UnkoC0wbOy opened #29 "Model won’t complete download on app"
### Search before asking

- [X] I have searched the HUB [issues](https://github.com/ultralytics/hub/issues) and found no similar bug report.

### HUB Component

Models, Export

### Bug

I have the Ultralytics app downloaded on an iOS device running iOS 15.1. The app works great when running the Ultralytics demo models. But when I try to download my own trained model the model seems to stall out re

[2022-05-11 07:57] kalenmike commented on #28
@tininha94 Glad you were able to resolve this. We are currently working on detecting and resolving well known dataset configuration errors such as this automatically. The aim is to make it as easy as possible to upload a custom dataset.

Thanks for using the Ultralytics HUB and feel free to reach out if you need any other support or would like to offer some feature suggestions.

[2022-05-11 07:57] #28 closed

[2022-05-11 08:01] #25 closed

[2022-05-11 08:36] sergiossm commented on #29
Hi @UnkoC0wbOy, thanks for your feedback!

We're looking into it. We'll let you when it's fixed.

[2022-05-11 12:36] sergiossm commented on #29
@UnkoC0wbOy after several tests we can confirm that the model download feature is working with no errors on iOS in the latest version of our app. Please, follow these steps and get back to us if the issue persists:
1. Sign out from the app
2. Uninstall the app
3. Download the latest version [here](https://apps.apple.com/us/app/ultralytics/id1583935240). Make sure it's version 0.1.1+21 (app version

[2022-05-11 17:30] Marcof64 opened #30 "Slow Inference on XIAOMI 11T Pro"
### Search before asking

- [X] I have searched the HUB [issues](https://github.com/ultralytics/hub/issues) and found no similar bug report.

### HUB Component

_No response_

### Bug

Hello, we purchased a XIAOMI 11T pro in order to replicate the tests that you have perfomrmed and for which you sent a video https://user-images.githubusercontent.com/26566365/165805393-5e632cb1-7bbb-4b7e-8489-cfcef

[2022-05-12 13:05] glenn-jocher opened #31 "Feature Roadmap May 2022"
### Search before asking

- [X] I have searched the HUB [issues](https://github.com/ultralytics/hub/issues) and found no similar feature requests.

### Description

- [X] Hard drive space check before dataset download
- [X] Exponential standoff in final checkpoint upload fails with time cutoff, i.e. 60 min.
- [X] HUB training CI for `ultralytics` staged changes and for official package
- [ ] Re-su

[2022-05-13 01:52] rouye123 opened #32 "Can't Login in Android App Ultralytics"
### Search before asking

- [X] I have searched the HUB [issues](https://github.com/ultralytics/hub/issues) and found no similar bug report.

### HUB Component

_No response_

### Bug

I can't log in my acc in gmail and also github acc. My log in details are correct, I'm sure.  Can you help me please?

![280092802_1070239823604009_693940214641229170_n](https://user-images.githubusercontent.com/105

[2022-05-13 06:50] sergiossm commented on #32
Hi @rouye123, thanks for your feedback!

Please, answer these questions so we can try and find the issue:
1. What Android device are you using?
2. What's the Android version on your device?
3. What version of the Ultralytics app is installed on your device? You can find it at the end of the settings screen

[2022-05-13 06:59] sergiossm commented on #30
Hi @Marcof64, please contact me at sergio.sanchez@ultralytics.com.

[2022-05-13 07:44] sergiossm commented on #32
@rouye123 we think we may have solved the issue. The fix is included in version 0.1.2, which has been submitted to Google Play and is now in review. Download the app again tomorrow and get back to us if the issue persists.

Follow these steps to make sure you get a clean install:
1. Clear app cache and storage from Android settings
2. Uninstall the app
3. Download and install from [Google Play](ht

[2022-05-13 15:34] rouye123 commented on #32
Hello,
1. I am using 360 N6 Pro
2. 8.1.0
3. Latest 0.1.2

I am sorry but I still can't log in using the created account and using github account

These are the screenshots

![Screenshot_2022-05-13-09-50-16](https://user-images.githubusercontent.com/105448498/168317598-aaedc904-1fdf-4c60-a2b2-d3a1e3d70165.png)
![Screenshot_2022-05-13-23-29-37](https://user-images.githubusercontent.com/105448498/168

[2022-05-13 15:41] Pro100rus32 commented on #20
I apologize for the late response. **Everything works!**

_Thanks : )_

[2022-05-13 15:41] #20 closed

[2022-05-13 16:07] glenn-jocher commented on #20
@Pro100rus32 yay! Thanks for the update.

[2022-05-13 17:34] sergiossm commented on #32
Sorry about that @rouye123, Google Sign In seemed to be working on our end. Can you provide the accounts you're attempting the login with?

[2022-05-13 20:34] rouye123 commented on #32
andreibsllt@gmail.com

[2022-05-15 14:54] glenn-jocher commented on #31
@kalenmike I've added disk space checks and exponential standoff with retry on all uploads now, raised a few issues that were uncovered in the process. Default is 3 retries with a 60s timeout on all uploads now, 10 retries with 3600s timeout on final model.

Re-uploading failed metrics is going to require some changes to the payload though, we can collaborate on this Wednesday at the office.

[2022-05-16 11:33] rouye123 commented on #32
Hello, I asked mg friend to download ultralytics via playstore then create account, after creating account, she successfully logged in then when she sign out the account amd log in again, she can't log in again. The same error above shows. Thanks.

[2022-05-17 14:59] sergiossm commented on #32
Hi @rouye123, can you try updating the app again? Please make sure the version you download is 0.1.3. Thanks for your patience!

[2022-05-17 15:04] rouye123 commented on #32
Thank you! It is working now. Thank you for resolving my concern.

[2022-05-17 15:04] #32 closed

[2022-05-17 16:12] glenn-jocher commented on #32
@rouye123 great! Let us know if you have any other issues or if there's any features you'd like to see added :)

[2022-05-17 18:06] ShailinXia opened #34 "Datasets Processing Error"
### Search before asking

- [X] I have searched the HUB [issues](https://github.com/ultralytics/hub/issues) and found no similar bug report.

### HUB Component

Datasets

### Bug

@Ultralytics HUB Recently,I have uploaded my custom dataset completely.But it can't be unzipped and is shown failed,processing error.I wanna to konw what leads to fail.Meanwhile,I tried to prepare my custom datasets corr

[2022-05-17 18:11] glenn-jocher commented on #34
@ShailinXia the easiest way to create your own dataset is to start from the example shown in https://github.com/ultralytics/hub/tree/master/coco6, which is zipped as https://github.com/ultralytics/hub/blob/master/coco6.zip.

coco6.zip uploads correctly, so start from there and modify as required to create your custom dataset, which should then also load correctly.

[2022-05-17 18:24] ShailinXia commented on #34
@glenn-jocher Thank you to response my issue.I have tried to imitate the construction of coco6 to restructure my custom datasets.But the consequence isn't my anticipate. Can you help me to modify my datasets in the Ultralytics HUB? I'll really appreciate it.

[2022-05-19 15:12] axlecky opened #35 "Dataset upload is not working with non standard annotations"
### Search before asking

- [X] I have searched the HUB [issues](https://github.com/ultralytics/hub/issues) and [discussions](https://github.com/ultralytics/hub/discussions) and found no similar questions.

### Question

Hi, I'm trying to upload my dataset on Ultralytics Hub but I keep getting the processing error. Am pretty sure I have already followed all the steps according to coco6.zip but it

[2022-05-21 15:44] tehreemkamal111 opened #36 "Dataset not Processing"
### Search before asking

- [X] I have searched the HUB [issues](https://github.com/ultralytics/hub/issues) and [discussions](https://github.com/ultralytics/hub/discussions) and found no similar questions.

### Question

i want to train my dataset why is my dataset is processing take time too much

### Additional

_No response_

[2022-05-21 15:53] tehreemkamal111 commented on #36
I uploaded dataset and it is still processing

On Sat, 21 May 2022, 8:45 PM github-actions[bot], ***@***.***>
wrote:

[2022-05-21 16:20] glenn-jocher commented on #36
@tehreemkamal111 processing times correlate with dataset size, so the larger the dataset the longer it will take to process on upload. A very large dataset like COCO might take up to an hour.

[2022-05-21 16:26] tehreemkamal111 commented on #36
But it is small data set with 50 images only

On Sat, 21 May 2022, 9:20 PM Glenn Jocher, ***@***.***> wrote:

[2022-05-21 16:35] glenn-jocher commented on #36
@tehreemkamal111 that is a small dataset. Please make sure you are following the formatting directions exactly, and retry again a little later. If you still have problems please let us know and if you could provide your dataset that might help identify issues with it.

[2022-05-30 16:08] kienvht opened #38 "Connect Google Colab JSONDecodeError: Expecting value: line 1 column 1 (char 0)"
### Search before asking

- [X] I have searched the HUB [issues](https://github.com/ultralytics/hub/issues) and found no similar bug report.

### HUB Component

Models

### Bug

First Step: I have create colab and run:
[code]
-> Success

Second step:
[code]

-> Get error
[code]

### Environment

[code]

### Minimal Reproducible Example

_No response_

### Additional

_No response_

[2022-05-31 09:54] axlecky commented on #35
Hi. I realised that my annotations were actually based on polygons instead of the rectangular bounding boxes. However, bounding box annotations are also included at the start of each image annotation txt. Does this affect the uploading process?
________________________________
From: Kalen Michael ***@***.***>
Sent: Tuesday, May 31, 2022 5:50:29 PM
To: ultralytics/hub ***@***.***>
Cc: axlecky ***@*

[2022-06-01 09:55] glenn-jocher commented on #31
Example code blocks for 'bring your own agent' section:

[code]

[code]

[2022-06-01 19:30] glenn-jocher commented on #38
@kienvht I took a look and was able to train this model successfully. Can you please retry and let us know if you continue having problems?

[2022-06-03 00:47] barney2074 opened #42 "Dataset upload fails with large number of images"
### Search before asking

- [X] I have searched the HUB [issues](https://github.com/ultralytics/hub/issues) and [discussions](https://github.com/ultralytics/hub/discussions) and found no similar questions.

### Question

Hello,

I am having a problem uploading a dataset:

- I've followed the instructions, and I'm pretty certain I've got the folder structure and naming correct, because a test set w

[2022-06-03 09:55] glenn-jocher commented on #42
@barney2074 thanks for the bug report! We will take a look here and see what might be wrong.

[2022-06-03 10:11] barney2074 commented on #42
thanks Glenn

Since posting, I've been trying a few options to norrow down the problem- initially I thought it might be invalid labels (my images are synthetic and some labels are full-frame, depending on randomization of camera position) but seems this is not the case

I can send you a small-ish dataset that fails if it helps

Andrew

[2022-06-03 11:08] kalenmike commented on #42
@barney2074 we are still working on preventing the same issue from happening again. For now I have manually forced processing of the dataset in your screenshot which you can access with your account at this link:
https://hub.ultralytics.com/datasets/5tbWXGmJnF0XgFcILguk

[2022-06-03 23:37] barney2074 commented on #42
thanks @kalenmike
The link just takes me back to the dataset listing page and all are shown as failed (apart from my 20 image test)

I also can't see the dataset in the 'train a model' page

But that is fine- I really appreciate your quick response and it seems to be a bug, rather than me doing something wrong- so no hurry.

Andrew

[2022-06-04 15:40] leandroipca opened #43 "Upload my own project trained (google colab by yolov5s) in Ultralytics Hub"
### Search before asking

- [X] I have searched the HUB [issues](https://github.com/ultralytics/hub/issues) and [discussions](https://github.com/ultralytics/hub/discussions) and found no similar questions.

### Question

Hey,

I have already done some training with yolov5s to use it with the tensorflowlite app. I have some models already trained, with their weights (best.pt and respective *.tflite

[2022-06-04 21:15] Tigist7 opened #44 "why isn't my dataset uploading? it is saying failed/process error"
### Search before asking

- [X] I have searched the HUB [issues](https://github.com/ultralytics/hub/issues) and [discussions](https://github.com/ultralytics/hub/discussions) and found no similar questions.

### Question

![Screenshot (60)](https://user-images.githubusercontent.com/104318044/172025700-3724e964-ac74-4228-bbf4-ae79973477ed.png)
why isn't my dataset uploading? it is saying failed/proc

[2022-06-05 01:53] #24 closed

[2022-06-06 17:08] kalenmike commented on #44
@Tigist7 Thanks for raising a question. We are currently working to improve the error messages show when datasets do not process correctly. This particular case is due a known issue we are currently working on [here](https://github.com/ultralytics/hub/issues/42). I have gone ahead and forced processing of one of your datasets which you can access here:

https://hub.ultralytics.com/datasets/7b5ZBY1

[2022-06-06 17:23] kalenmike commented on #42
@barney2074 Perhaps you are using multiple accounts with the HUB? As we are lucky enough to only have two datasets with the name 'constructaiv7' I was able to track them down to the same user, one is now active and visible while the other was deleted by the user. Unfortunately I am not able to provide more info than that.

I will keep you updated and once we resolve the issue that caused the bug y

[2022-06-06 17:28] kalenmike commented on #43
@leandroipca Thank you for raising a question. Unfortunately we do not have the option to import existing models and this featured is not currently planned for release.

Please feel free to raise any other feature requests that you believe will be useful and we will add them for consideration.

[2022-06-06 19:14] leandroipca commented on #43
Hey,

Thank you.

The only way is to upload the images and create a model, correct?

I tried it a few times, but after uploading the model, when processing it generates an error.

thanks a lot.

[2022-06-06 23:21] barney2074 commented on #42
Hi @kalenmike

Yes, sorry, my error- I had inadvertently created 2 accounts

Andrew

[2022-06-07 13:33] barney2074 opened #45 "HUB- local agent: CUDA not detected"
### Search before asking

- [X] I have searched the HUB [issues](https://github.com/ultralytics/hub/issues) and [discussions](https://github.com/ultralytics/hub/discussions) and found no similar questions.

### Question

Hello,

When using the HUB local agent (on Windows)- how can I get it to utilise the graphics card ?
I get an error 'CUDA not detected' message
![image](https://user-images.github

[2022-06-07 19:05] glenn-jocher commented on #45
@barney2074 your pytorch installation is not recognizing any CUDA devices. See https://pytorch.org/get-started/locally/ to get started.

You can test correct Pytorch-GPU installation with `import torch; print(torch.cuda.is_available())`

[2022-06-08 14:24] kalenmike commented on #42
@barney2074 Perfect! We have addressed the bug that you found and it seems to be resolved. Please let us know if you still have issues with uploading the larger dataset.

[2022-06-08 14:42] kalenmike commented on #34
@ShailinXia YAML files are very strict. You can use [this site](https://yamlchecker.com/) to validate the format of your YAML file.

[2022-06-08 14:42] #34 closed

[2022-06-08 16:25] glenn-jocher commented on #43
@leandroipca hi sorry to hear that! Can you please post a screenshot of the error you are seeing and let us know your system details, i.e. browser and os type?

[2022-06-08 23:37] barney2074 commented on #45
thanks @glenn-jocher

I played around with it for ages- different graphics driver & CUDA versions- but couldn't get Pytorch to recognise it

In the end, I gave up on the Windows machine, and used the Linux one instead
The model training and deployment to an IOS device worked perfectly

thanks,

Andrew

[2022-06-08 23:41] barney2074 commented on #42
thanks @kalenmike - I'll give it a try

[2022-06-09 02:52] kalenmike commented on #36
@tehreemkamal111 Processing can take some time, as we are not just processing the dataset you uploaded but also augmenting images for preview, etc. We have timeout sets which would catch any issues with datasets not completing the processing. We try to avoid processing on the client side to preserve your resources. If your dataset is showing as failed please let us know and we can investigate furt

[2022-06-09 02:52] #36 closed

[2022-06-09 02:56] #27 closed

[2022-06-09 02:58] #29 closed

[2022-06-09 07:53] glenn-jocher commented on #45
@barney2074 @kalenmike thanks for the info! From your screenshots it does seem like it's a PyTorch install issue.

In our investigations we also identified a new failure mode with AutoBatch on consumer GPUs, but this appears unrelated to your original issue. In any case we should be pushing an AutoBatch update soon which will resolve that.

[2022-06-09 07:54] #45 closed

[2022-06-09 09:08] barney2074 commented on #42
Hi @kalenmike

Sorry to trouble you- but I'm still having the same problem

It seems to sit at the pulsing yellow 'processing' button for a couple of hours, then says it has failed.
![image](https://user-images.githubusercontent.com/25944617/172809417-a8a477b8-a448-4f07-aaea-15c5694ded8b.png)

the v1.1 dataset only has 40 images- it's been processing for at least an hour

Andrew

[2022-06-09 09:41] barney2074 commented on #45
thanks @glenn-jocher

I was wondering if Docker would be an easier option for the local HUB agent ?- but suppose not everyone has Docker plus you need NVIDIA Docker as well

[2022-06-09 14:18] kalenmike commented on #45
@barney2074 That's a good suggestion and something I think we will look into implementing. We want to make using local agents as easy as possible.

[2022-06-09 14:51] #42 closed

[2022-06-09 15:18] glenn-jocher commented on #45
@barney2074 yes this isn't a bad idea to offer this as an additional local option. Then rather than need to debug local python environments the main requirement would be to have Docker installed correctly as well as all NVIDIA/CUDA drivers.

[2022-06-09 16:50] kalenmike commented on #43
@leandropica It would be helpful to have some more information so we can look into your specific situation, but saying that the main cause for a dataset not processing is an incorrectly formatted dataset. Here are some things to look out for:

1. The dataset zip must contain a folder with the same name as the zip
2. [A correctly formatted YAML file](https://codebeautify.org/yaml-parser-online) mus

[2022-06-09 16:50] #43 closed

[2022-06-09 23:07] barney2074 commented on #42
Hi @kalenmike

Sorry...! I must have checked that 10 times, but just couldn't see the obvious error

That said- it would be great to have either some detailed error reporting, or the ability to load/validate YAML, images & labels separately (kinda like Roboflow, where stuff is uploaded separately, then gets matched up)

Andrew

[2022-06-10 09:59] kalenmike commented on #42
@barney2074 Thanks for the feedback. I agree as humans we are prone to error, we are planning to improve the error reporting as well as to auto repair detected errors to prevent re-upload.

[2022-06-11 08:18] obb12 opened #46 "Train with custom pretrained weight file"
Is there a way to add a pretrained weight file
So you don't need to start from scratch?

[2022-06-11 08:37] obb12 commented on #46
I meant like a custom file outside hub

[2022-06-11 11:44] kalenmike commented on #46
@obb12 Thanks for raising a question. We provide models pretrained on the COCO2017 dataset. Unfortunately custom models cannot be uploaded.

[2022-06-11 11:44] #46 closed

[2022-06-11 17:35] glenn-jocher commented on #42
@barney2074 @kalenmike duplicate names key is incorrect YAML but it doesn't seem to error with the YOLOv5 YAML loaders as far as I can tell. I tested training and dataset_stats() with duplicate names fields (identical and different names) and both still work correctly for me.

Regardless though it helps to examine your YAMLs with an IDE that highlights errors like PyCharm (note red underlines):
<i

[2022-06-13 08:09] kalenmike commented on #42
@glenn-jocher The error was because the names key was inputted like this
`names: names: ['class_1']`
This was causing the parser to fail.

[2022-06-13 09:51] barney2074 commented on #42
Hi @kalenmike

sorry- this was caused by a dumb copy/paste error on my part...!

I'm wondering if part of the solution might be to complete YAML parsing/validation as soon as the ZIP dataset is transferred- it seems to take a long time on 'processing' to time out.

I imagine my earlier response i.e uploading in batches then processing it together would complicate the process considerably

Andrew

[2022-06-13 22:11] glenn-jocher commented on #42
@kalenmike got it. I've opened https://github.com/ultralytics/yolov5/pull/8192 to better report yaml load errors like the one above would probably cause, please review.

[2022-06-14 07:15] kingmacth commented on #23
Hello Marcof64
Where can I find the Android source code? Did you finally get it?

[2022-06-15 15:45] Hypermechanic opened #48 "Sign on"
### Search before asking

- [X] I have searched the HUB [issues](https://github.com/ultralytics/hub/issues) and [discussions](https://github.com/ultralytics/hub/discussions) and found no similar questions.

### Question

I would like biometrics enable to sign in. Thank you.
I use an IPad Pro, Linux Ubuntu, kali, window all.
But I am sick and I am just going to suffer a long incurable tortures life

[2022-06-16 21:36] leandroipca commented on #43
Hey,

It's working. The problem was in the *yaml file. I converted the same way it was in coco6. I'm already running the tests.

One question, is there a possibility to leave the model we trained for public instead of private?

best regards,

Leandro

[2022-06-17 09:32] stefani-kovachevska commented on #43
Glad to hear that  @leandroipca , thank you for getting back to us.

This is a feature we're planning to develop for the following versions. If there's something else you'd like to see on Ultralytics HUB, please let us know.

Best,
Stefani

[2022-06-17 10:29] stefani-kovachevska commented on #48
Thank you for reaching out @Hypermechanic. I can see how having to go through multiple steps to log in can be a real pain.

At the moment we are focused on building better training capabilities as we believe this will bring the most value to our users.
We strive to provide the best user experience possible and we appreciate your feedback. We'll have more time to look into this further in some of t

[2022-06-17 12:41] glenn-jocher commented on #48
@stefani-kovachevska you should have Triage access now as part of the Internal team. Let me know if you have any issues closing this issue.

[2022-06-17 16:41] glenn-jocher commented on #43
@leandroipca agree we need public views ASAP. Feature is in our product roadmap.

[2022-06-17 17:13] #48 closed

[2022-06-19 03:54] #38 closed

[2022-06-19 03:55] kienvht commented on #38
Run successfully with `ultralytics 0.0.24`

[2022-06-19 17:47] leandroipca commented on #43
Hey,

So, I'm testing your app because I'm using yolov5 for my MSC thesis, here in Portugal. I was testing several other types of detection algorithms like detectron2, TensorFlow, yolo (tiny, X, v3, v4(keras, pytorch and darknet)) . With yolov4 PyTorch I was able to convert the weights to tensorflowlite and test it in the tensorflow app itself (TFL Detect), however their app doesn't have the featu

[2022-06-20 12:44] glenn-jocher commented on #43
@leandroipca yes of course you can mention our app in your dissertation!

Thank you for your feedback and thank you for your efforts to develop AI tools to help the visually impaired, this is a worthy use case.

[2022-06-23 20:36] waylonflinn opened #49 "No Storage Available"
### Search before asking

- [X] I have searched the HUB [issues](https://github.com/ultralytics/hub/issues) and found no similar bug report.

### HUB Component

Datasets

### Bug

When uploading a dataset, upload fails with the error "No Storage Available".

This happens even after deleting all my datasets and all models save one then trying to re-upload a dataset that previously worked.

Addition

[2022-06-24 10:22] kalenmike commented on #49
@waylonflinn We will take a look and see what is happening with your account.

[2022-06-24 10:41] kalenmike commented on #49
@waylonflinn Thanks for raising this issue, the data in your account is not hard deleted immediately after you delete in in Ultralytics HUB. The records are soft deleted and the data enters into a queue where it waits for deletion. I can see that you trained several models and the checkpoints are what are using up all of your storage.

We will work on improving this process to prevent similar issu

[2022-06-24 10:41] #49 closed

[2022-06-24 10:54] glenn-jocher commented on #49
@kalenmike @stefani-kovachevska trash can feature should resolve this in the future, i.e. Google Drive trash can also uses storage unless emptied.

@kalenmike we are overwriting checkpoints on save right, i.e. during training we should have 2 checkpoints saved (best.pt and last.pt), and then after training completes we should just be storing the final best.pt

[2022-06-24 11:49] kalenmike commented on #49
@glenn-jocher No checkpoints are not currently overridden. I am trying to schedule a meeting with you and Sergio for today to discuss these issues.

[2022-06-24 15:02] waylonflinn commented on #49
Thanks for the response.

To better inform your discussion, it's 4 hours later and I have the following in my account:
* 1 project
* 1 model
* 0 datasets

Here's what my reported usage looks like right now:

Dashboard reports 85.2 GB used
![ultralytics-dashboard-02](https://user-images.githubusercontent.com/804108/175560200-219201e4-c525-442a-bf23-a6a06c1d1795.png)

Project page reports 463.8 MB u

[2022-06-24 18:37] kalenmike commented on #49
@waylonflinn Thank you for taking the time to send us your detailed feedback. The Ultralytics HUB is currently in beta and we are extremely grateful to have users like you provide us with feedback so that we may improve the user experience.

Since you first raised this issue the development team have had a meeting and we have begun implementing several improvement to the Ultralytics HUB.

1. Previ

[2022-06-24 19:56] waylonflinn commented on #49
Much better. Thank you!

![ultralytics-dashboard-05](https://user-images.githubusercontent.com/804108/175658690-c5b6f5f3-f780-47b9-8ca8-e8ba679af746.png)

[2022-06-25 08:40] akghost96 opened #50 "Upload not working dataset"
### Search before asking

- [X] I have searched the HUB [issues](https://github.com/ultralytics/hub/issues) and found no similar bug report.

### HUB Component

_No response_

### Bug

error: Dataset Error : data.yaml/images/train not found, data.yaml/labels/train not found, data.yaml/images/valid not found, data.yaml/labels/valid not found
i tried to make the data file exactly like in the coco6.y

[2022-06-25 11:40] kalenmike commented on #50
@akghost96 Thank you reaching out. If you are seeing an error like that it is because the YAML file cannot be found, most likley you are seeing the error because you have set the extension to be `.yalm` when it should be `.yaml`.

You can also confirm that your YAML is correctly configured. The train and val keys you see in the YAML are indicating the location of your images. With the config file

[2022-06-25 11:40] #50 closed

[2022-06-26 13:21] glenn-jocher commented on #49
@waylonflinn thanks for the critical feedback, this is very valuable to us. We share your frustrations with the opaqueness of the storage calculations and are working to resolve these issues ASAP. The main changes in our roadmap are here, but please let us know if you have alternate suggestions on this topic or any other!

1. Removing individual epoch checkpoints (implemented above). This should h

[2022-06-29 08:47] ys-ocean opened #51 "Converting a custom model to mlmodel is 100% no matter what object it recognizes"
### Search before asking

- [X] I have searched the HUB [issues](https://github.com/ultralytics/hub/issues) and found no similar bug report.

### HUB Component

Inference

### Bug

Hi, I found a strange problem. It is normal for the customized models on the Hub to be converted into online test recognition. The models downloaded from the Ultralytics App are 100% recognized, and objects beyond the m

[2022-06-29 14:05] glenn-jocher commented on #51
@ys-ocean your training results look fine. If you're asking why the Preview is showing 88% confidence and the app 100% it's hard to tell. The app is running on a different image at a different image size with different pipelined NMS, so it's not exactly an apple's to apple's comparison here, in which case you should expect differences.

[2022-06-30 04:24] ys-ocean commented on #51
Hi, first of all thanks for your reply, but I don't quite understand how to solve it. Now I downloaded a public dataset Raccoon Dataset from the roboflow website, exported the YOLOv5 Pytorch format, uploaded it to the Ultralytics Hub, selected YOLOv5n, and the others are all default parameters to regenerate a Model, or the same problem I have on Export & Test The test is basically 70%-90%, and whe

[2022-06-30 16:00] glenn-jocher commented on #51
@ys-ocean I'm not sure. Theoretically using the open-source repo or using Ultralytics HUB you should get the same results, though again the Apple NMS is completely different from the PyTorch NMS used to Preview images.

Is this a problem you see only on your custom trained model or do you also see it on the default COCO models? Your model is single-class right? I wonder if the single-class part is

[2022-06-30 16:04] glenn-jocher commented on #51
TODO: Investigate CoreML single-class export models for possible 100% confidence bug

[2022-07-01 01:32] ys-ocean commented on #51
Thank you for your reply！Yes, single-class case, but if I change the yaml in the dataset, I change nc to 2, and the others remain unchanged.
1. Other objects and objects in the dataset will be recognized.
2. The accuracy rate is about 97%, nc is 1, and the recognition rate is 100%.
3. Based on the YOLOv5n preloaded model, Hub provides a demo data set coco6 is normal, nc shows 80 in the yaml file,

[2022-07-01 01:33] ys-ocean commented on #51
Thank you for your attention to this issue, thank you for your help, I look forward to your reply！

[2022-07-01 11:41] glenn-jocher commented on #51
@ys-ocean I reviewed the iOS export code and don't see anything wrong. Single class is not handled separately, it uses the same exact export code and multi-class. Note that the iOS app uses an inference size of 192x320, whereas the Preview on the web is running at 640 by default (though you can also change to run at 320). Can you try the Preview at 320px to see if it increases confidence?

[2022-07-05 01:34] ys-ocean commented on #51
Thank you for your reply, I see that the original YOLOv5s, YOLOv5n, YOLOv5n6 etc. export Ultralytics App iOS format input-image size are all 192*320. However, when training 320 or 640 from the Hub, the Ultralytics App iOS - mlmodel, the input-image size is 640, and the Hub and colab training Image Size cannot be set to 192*320. I would like to ask if I need to train the 192*320 model and export it

[2022-07-05 09:39] glenn-jocher commented on #51
@ys-ocean yes that's correct. The commands to reproduce training and export of official models are:
[code]

Since scale augmentation is applied models trained at 640 are usable at 320.

[2022-07-05 13:49] barney2074 opened #52 "Timeframe for TensorRT export from HUB ??"
### Search before asking

- [X] I have searched the HUB [issues](https://github.com/ultralytics/hub/issues) and [discussions](https://github.com/ultralytics/hub/discussions) and found no similar questions.

### Question

Hi,

The TensorRT export from HUB currently says' coming soon'
I was wondering what the timeframe for this is ?
Also, I'm assuming it will export a .engine file ?
![image](https:/

[2022-07-06 01:43] ys-ocean commented on #51
Thank you very much! I will try it.

[2022-07-07 10:29] glenn-jocher commented on #52
@barney2074 yes, the same applies to the YOLOv5 repo. TensorRT is by far the fastest GPU inference method (5x faster than PyTorch), so it's highly recommended to use this format for any GPU deployment. See our [GPU benchmarks](https://github.com/ultralytics/yolov5/pull/6963) for details.

### Colab Pro+ V100 High-RAM Results

[code]

Ideally the HUB TensorRT export would come with a GPU menu that

[2022-07-07 13:15] barney2074 commented on #52
thanks Glenn

I did get the YOLOv5 model inferencing on my Jetson nano by following this:
[](https://wiki.seeedstudio.com/YOLOv5-Object-Detection-Jetson/)

but in hindsight probably easier to use YOLOv5 running in Docker on the nano

Andrew

[2022-07-07 23:28] clindhorst2 opened #54 "Linear Regression Head"
### Search before asking

- [X] I have searched the HUB [issues](https://github.com/ultralytics/hub/issues) and found no similar feature requests.

### Description

Easy to make linear regression head and object detection head. A way to find an object in a picture and give you a linear regression model about the characteristics of that model.

### Use case

If you want to find a rose and how many

[2022-07-08 10:14] glenn-jocher commented on #54
@clindhorst2 thanks for the feature request. Architecture updates for additional regression outputs (in addition to the existing 4 box regression outputs) are very easy to create of course. The difficulty is in balancing additional losses and measuring metrics in addition to standardizing dataset formats for custom outputs.

[2022-07-08 15:40] clindhorst2 commented on #54
@glenn-jocher thanks for responding do you have any documentation on how to do that on YOLO v5? I am not an AI scientist I just learned this terminology from reading posts about creating a CNN with linear regression. I'm not asking you to do it for me I just have no idea where to start in YOLO v5.  The reason I chose YOLO v5 was that in a video you had you said that Ultralytics is making machine l

[2022-07-08 19:52] glenn-jocher commented on #54
@clindhorst2 yes we are trying! It's a big task though, and we have to start somewhere, so we are starting with Detection, then moving to Classification and next Segmentation. These two will be ready in second half of this year, and additional tasks like regression later on. It's super helpful to hear community feedback though on what users want so I will keep this in mind when planning our roadma

[2022-07-08 20:16] clindhorst2 commented on #54
@glenn-jocher in the not-to-distant future will you be able to perform linear regression during Instance Segmentation?

[2022-07-08 23:09] glenn-jocher commented on #54
@clindhorst2 well linear regression just means that you are fitting a continuous value rather than a discrete value (i.e. classification).

[2022-07-09 04:10] UnkoC0wbOy opened #55 "Dataset Processing failed"
### Search before asking

- [X] I have searched the HUB [issues](https://github.com/ultralytics/hub/issues) and found no similar bug report.

### HUB Component

Datasets

### Bug

I am working on a new dataset and tried to upload it to the HUB. The dataset seemed to upload just fine and quickly reached the processing stage. Shortly after beginning the processing stage the progress bar turned red a

[2022-07-09 08:23] barney2074 commented on #55
the problem is likely with your YAML file- post that & a snapshot of your data structure

[2022-07-09 08:52] barney2074 opened #56 "Minor GUI comments on HUB"
### Search before asking

- [X] I have searched the HUB [issues](https://github.com/ultralytics/hub/issues) and found no similar bug report.

### HUB Component

_No response_

### Bug

Minor comments on HUB GUI (not really a bug)

1. 'Sign Up' button should possibly say 'Sign In' i.e. if you've already got an account
![image](https://user-images.githubusercontent.com/25944617/178098766-8388dba7-01

[2022-07-09 10:24] kalenmike commented on #55
@UnkoC0wbOy Thanks for taking the time to submit your question. I have reviewed your dataset and I can see that your labels are not in the correct format.

Your labels are formatted:
`159 132 259 132 259 211 159 211 Mule-Deer 0`

The YOLOv5 format for labels is:
`class x_center y_center width height`
* The label file should contain only numbers, the class is the index of your classes array. In you

[2022-07-09 10:24] #55 closed

[2022-07-09 10:27] kalenmike commented on #56
@barney2074 Thanks for the feedback. I will raise this with the rest of the team and we will see what we can do to improve these elements.

[2022-07-09 15:33] clindhorst2 commented on #54
@glenn-jocher Yes, I am aware of that. Did I use terminology that was incorrect? I think you are misunderstanding what I am trying to do.  I am trying to find fruit on a table (object detection) and be able to predict the sweetness on a scale of 1-10 (linear regression) from the image.

[2022-07-12 14:13] #54 closed

[2022-07-14 16:52] elikling opened #58 "Mobile app sign in freezes"
### Search before asking

- [X] I have searched the HUB [issues](https://github.com/ultralytics/hub/issues) and found no similar bug report.

### HUB Component

Signin

### Bug

Tried to create a user thought the app (eli_kling@hotmail.com). No error messages just did not progress. Managed to use the Google button to sign in with my g-account.

### Environment

Android on Samsung s21+

### Minimal

[2022-07-14 20:10] adamekcerv opened #59 "Object Counter"
### Search before asking

- [X] I have searched the HUB [issues](https://github.com/ultralytics/hub/issues) and found no similar feature requests.

### Description

Hi,
I would like to use Ultralytics app as real time traffic counter. - I would like to count how many different objects (cars, bicycles, pedestrians,...) cross the street.

### Use case

This feature should be potentionally use for ur

[2022-07-15 02:14] #35 closed

[2022-07-15 11:19] sergiossm commented on #58
@elikling Thank you for reporting the issue. It's solved now.

[2022-07-15 11:19] #58 closed

[2022-07-15 11:20] glenn-jocher commented on #58
@elikling also please let us know if you run into any other issues with the HUB app or website, or if any features come to mind you'd like to see added to the product :)

[2022-07-15 11:55] glenn-jocher commented on #59
@adamekcerv 👋 Hello! Thanks for asking about object **tracking** in computer vision. YOLOv5 🚀 is an object **detector** that detect, localizes and classifies objects in a single image. It does not connect objects across multiple images, for this you need a tracking solution. A few possible tracking solutions are:

- [Extended Kalman Filter (EKF)](https://en.wikipedia.org/wiki/Kalman_filter)
- [Kan

[2022-07-17 02:06] #30 closed

[2022-07-18 02:50] Russ76 opened #60 "Can't get step 2 on Colab to work. Needs more than API key?"
### Search before asking

- [X] I have searched the HUB [issues](https://github.com/ultralytics/hub/issues) and found no similar bug report.

### HUB Component

Training, API Key

### Bug

Must the model name also be included in step 2 in the Google Colab? With API key inserted, it produces error, saying "Name is not defined."

### Environment

Computer: PC, i7 with 16 Gig RAM, SSD
Ubuntu 20.04
Fi

[2022-07-18 06:05] glenn-jocher commented on #60
@Russ76 you need to copy the entire string from here. It's the API Key concatenated with your Model ID.

<img width="1285" alt="Screen Shot 2022-07-18 at 8 04 29 AM" src="https://user-images.githubusercontent.com/26833433/179453220-0982795e-f976-4b55-b07a-e13685681cd6.png">

[2022-07-18 12:00] Russ76 commented on #60
There seems to be no way to go back to that screen. I had to create a new model. But now this one is training! Seems to me that I did the very same thing last night, but that time it wouldn't work. My next model I'll upload my own data! Thanks

[2022-07-19 19:18] #60 closed

[2022-07-19 19:18] Russ76 commented on #60
Thanks, guys!

[2022-07-22 03:22] Latzi opened #61 "Dataset upload yaml file missing"
### Search before asking

- [X] I have searched the HUB [issues](https://github.com/ultralytics/hub/issues) and [discussions](https://github.com/ultralytics/hub/discussions) and found no similar questions.

### Question

I am new to the Ultralytics HUB. I thought I give it a try and I uploaded a custom dataset after creating a project etc. The upload finished (big dataset around 14 GB), then I had

[2022-07-22 03:25] Latzi commented on #61
Oh that answers my question. I should have read that before even attempting to train the 1st model. I'll have another go with it. Thanks and please disregard my question :-)

[2022-07-22 03:25] #61 closed

[2022-07-22 10:08] Latzi opened #62 "Do datasets have a size limit?"
### Search before asking

- [X] I have searched the HUB [issues](https://github.com/ultralytics/hub/issues) and [discussions](https://github.com/ultralytics/hub/discussions) and found no similar questions.

### Question

Sorry for another question but I am not sure what the limit is on the dataset size ? I have a dataset of around 14GB and I uploaded it but the interface shows "Processing ... " fo

[2022-07-22 12:06] kalenmike commented on #62
@Latzi We have no limits on the size for an individual dataset, currently the Free plan has a storage limit of 100GB. The processing can take some time for larger datasets. I will take a look into the logs and see if there are any issues recently.

[2022-07-22 17:39] kalenmike commented on #62
@Latzi I found an issue in generating the previews that is causing a slow down on the dataset processing. We will look into getting this resolved. Your dataset should now be processed. Please let me know if there is anything else we can help with.

[2022-07-22 17:39] #62 closed

[2022-07-22 18:38] MendelTheRobot opened #63 "How to Use"
### Search before asking

- [X] I have searched the HUB [issues](https://github.com/ultralytics/hub/issues) and [discussions](https://github.com/ultralytics/hub/discussions) and found no similar questions.

### Question

Hi is there a detailed guide on how to use this program for beginners? I am trying to annotate a dataset, train a custom model, and have yolo identify and count objects in a set o

[2022-07-23 00:50] Latzi commented on #62
Hi Mike. Yes I am training the model using the dataset. It works okay but looking at the training speed it will take some 18 days ! There is no way Colab will keep my instance alive for that long. Is there an other way that you know of, where I could train a model with 100k images ? Of course I'd be happy to pay for that and for the use of resources. I am doing a training session with AWS right no

[2022-07-23 11:46] kalenmike commented on #62
@Latzi To improve the training speed you will want to train on a system that has as much memory as you can afford. We are currently working on a cloud training solution but it is not ready for release. Your best option for the moment is to select bring your own agent from the Ultralytics HUB and connect to a machine with more powerful hardware.

[2022-07-23 11:55] kalenmike commented on #63
@MendelTheRobot We do not currently support annotations, you would need to use a third party tool to annotate your dataset and then upload it to the Ultralytics HUB. You will then be able to train your custom model and export it into your chosen format. We are also working to improve our deployment API which will allow you to use your model via the cloud. You would then need to implement your own

[2022-07-23 12:15] Latzi commented on #62
I understand the need for more powerful hardware and I was hoping that you could point me towards some options ? Where I can find such services apart from Google AUTO ML or AWS ? The AWS looks like it is able to handle the training and it will take around 3.5 days to finish the model. Also the price is only $6.18 / h so not too bad. Do you know of any other options ? I have a few more models to tr

[2022-07-25 09:32] Ibrahim-Ahrash opened #64 "How should I format my custom dataset?"
### Search before asking

- [X] I have searched the HUB [issues](https://github.com/ultralytics/hub/issues) and found no similar bug report.

### HUB Component

_No response_

### Bug

Every time I upload my dataset i get an error says Zip Formatted Incorrectly
I tried to modify my zip file and the same I even tried to download some random dataset from roboflow and upload it and still same problem

[2022-07-25 09:38] kalenmike commented on #64
@Ibrahim-Ahrash We have an example [dataset here](https://github.com/ultralytics/hub/blob/master/coco6.zip). If you download that you will be able to see how your dataset needs to be formatted. In the example you give above it sounds like either your zip does not contain a folder or the folder it contains is not the same name as the zip file. You can also check out the [README.md](https://github.c

[2022-07-25 14:27] Ibrahim-Ahrash commented on #64
Hello
Yes as you said my zip didn't contain folder holding the data instead all it was directly a train and valid folders. I moved all inside a folder and zipped the folder .
Thank you for the reply

[2022-07-25 15:25] #64 closed

[2022-07-26 20:19] rexayyy opened #65 "Zip Formatted Incorrectly"
### Search before asking

- [X] I have searched the HUB [issues](https://github.com/ultralytics/hub/issues) and found no similar bug report.

### HUB Component

Datasets

### Bug

Hello there, Glenn. I tried to upload data on hub but it is giving me a "zip formatted incorrectly" error, even though i have compressed it in the same format as you have shown in coco6. The dataset is prepared using rob

[2022-07-26 22:07] kalenmike commented on #65
@rexayyy The formatting is still very strict at the moment, we are working to try and make it less so. If you are seeing that error it is likely that either your dataset zip does not contain a folder but rather the files themselves or the name of the zip does not match the name of the folder inside the zip. Can you verify those to things and let me know if it solves your error?

[2022-07-27 08:36] barney2074 commented on #65
it also took me a few tries to get it right
A screenshot like this of your zip file would help
![](https://user-images.githubusercontent.com/26833433/141502652-e4b0477c-6c2a-41b3-b21a-b3d1444cdda7.png)

[2022-07-27 09:36] rexayyy commented on #65
![Screen Shot 2022-07-27 at 2 26 29 PM](https://user-images.githubusercontent.com/97718899/181212913-d1582c36-e3c9-4544-b040-e888a1b9f44f.png)
![Screen Shot 2022-07-27 at 2 25 52 PM](https://user-images.githubusercontent.com/97718899/181213916-53edd471-e7b2-40ee-b40e-2066af8fb276.png)

[2022-07-27 10:12] barney2074 commented on #65
Mike will be able to say for sure- I don't know if it is case sensitive- but your folder (& presumably zip file) is called 'Data', whereas your yaml is 'data'

[2022-07-27 10:13] rexayyy commented on #65
i will give that a try and get  back to you

[2022-07-27 10:15] rexayyy commented on #65
I got this now, even though all the files are in the right folders as i have shown you in the previous ss
![Screen Shot 2022-07-27 at 3 14 44 PM](https://user-images.githubusercontent.com/97718899/181223080-bf94dae6-adc9-4d5d-9c2e-e40e1fa8f07b.png)

[2022-07-27 10:16] barney2074 commented on #65
looks like the yaml has capital D data

[2022-07-27 10:18] rexayyy commented on #65
![Screen Shot 2022-07-27 at 3 17 41 PM](https://user-images.githubusercontent.com/97718899/181223634-5136d1cd-88bd-46ef-ac2e-50df915b45f5.png)

[2022-07-27 10:19] barney2074 commented on #65
I mean the text for the paths inside the yaml file

[2022-07-27 10:21] rexayyy commented on #65
would you please show me by opening and screen shoting your .yaml file

[2022-07-27 10:23] rexayyy commented on #65
![Screen Shot 2022-07-27 at 3 23 23 PM](https://user-images.githubusercontent.com/97718899/181224735-9497e1da-9f56-4301-b2b3-c41724be3753.png)

[2022-07-27 10:27] rexayyy commented on #65
i got the mistake, i am trying with fixing it

[2022-07-27 10:41] rexayyy commented on #65
it is still not working for me

[2022-07-27 11:28] barney2074 commented on #65
(disregard my previous comment about the path in the yaml- I was incorrect in thinking it contains the parent 'Data' folder)

Your yaml has '../train/images' whereas the example has 'images/train' and this corresponds with your file structure
I'd take the example yaml and just update your classes

![image](https://user-images.githubusercontent.com/25944617/181235997-20d97c7f-ae36-4301-b8e9-2c44bc6

[2022-07-27 11:31] rexayyy commented on #65
yes Barney, thank you so much for helping. I figured it out after hit and trial and got it right

[2022-07-30 11:02] Denizzje opened #66 "Storage does not reduce after deleting dataset"
### Search before asking

- [X] I have searched the HUB [issues](https://github.com/ultralytics/hub/issues) and found no similar bug report.

### HUB Component

Datasets

### Bug

Hello all,

I have invited myself to the beta after finding the Hub by sheer coincidence and I can say this has some true potential!

When I just started out, I made things easy for myself by inmediately starting with a

[2022-07-30 11:06] Denizzje commented on #62
Check out datacrunch.io . 1x V100 for $1, 1x A100 for $2.25. Also available in 2x, 4x and 8x for V100 and A100. The A100 is the full sized 80GB SXM beast GPU and blows everything out of the water from other cloud providers I have tried/seen.

[2022-07-30 14:43] glenn-jocher commented on #66
@Denizzje thanks for the bug report! We have a known issue at the moment with immediate deletion of items, currently they are redirected to a 30 day trashcan that you can't see. We are working on a trash can tool where you'll be able to empty your trashcan and regain all your storage. This should be out soon.

In the meantime @kalenmike can empty your trashcan if you provide your login email.

[2022-07-30 15:39] glenn-jocher commented on #62
Lambda has some good prices also. You'll get the best deals with reserved instances, but they've got competitive spot prices as well.
https://lambdalabs.com/service/gpu-cloud/pricing

[2022-07-31 16:02] Alhashim2 commented on #65
@rexayyy  can you please help how you got it to work. I am facing the same issue

@barney2074  kindly help if you spot anything wrong
here are my files structure.

![Screen Shot 2022-07-31 at 6 59 55 PM](https://user-images.githubusercontent.com/94074621/182034984-a71be1c7-cae4-4ca3-af3e-5de4a25966d8.png)
![Screen Shot 2022-07-31 at 6 58 56 PM](https://user-images.githubusercontent.com/94074621/18

[2022-07-31 16:12] glenn-jocher commented on #65
@Alhashim2 your YAML is not formatted correctly, i.e. you don't have correct spacing. You can open your YAML in any editor and it will automatically indicate errors, i.e. if I remove the spacing from a field in PyCharm:

<img width="700" alt="Screen Shot 2022-07-31 at 6 11 41 PM" src="https://user-images.githubusercontent.com/26833433/182035428-bf1df3a4-66e3-4dca-aaaf-b5e282b650d2.png">

[2022-07-31 17:29] Alhashim2 commented on #65
@glenn-jocher  Thanks for the reply, I have added the space and below is a snapshot of it.

but when space is added, i get another error the uploader is telling me Invalid dataset (see snapshot)

![Screen Shot 2022-07-31 at 8 25 55 PM](https://user-images.githubu
![Screen Shot 2022-07-31 at 8 24 31 PM](https://user-images.githubusercontent.com/94074621/182038304-0a194084-1619-401a-8a52-e3a7b0da255

[2022-07-31 19:00] kalenmike commented on #65
@Alhashim2 Are you 100% sure you are zipping the folder containing the content and not just zipping the content?

[2022-07-31 19:05] kalenmike commented on #66
@Denizzje We will have the trash can live this week which will give you the option to permanently delete your files. As @glenn-jocher  mentioned I can empty your files for you, but I will need your account email. You can send it to me at kalen.michael@ultralytics.com

Thanks for pointing out the issue in your additional section as well. We have a fallback for timeout errors that is being triggered

[2022-08-01 08:26] Alhashim2 commented on #65
@kalenmike Much appreciated that worked I was zipping the content without the outer folder.

[2022-08-01 08:31] Denizzje commented on #66
Thanks for the replies @glenn-jocher and @kalenmike , I sent an email to Kalen. It is good to know however that soon I shall be able to clean up after myself ;).

[2022-08-01 13:30] kalenmike commented on #66
@Denizzje Your account is now reset. Please let me know if you have any issues.

[2022-08-01 13:30] #66 closed

[2022-08-01 13:30] #65 closed

[2022-08-02 10:39] rexayyy opened #67 "Can I resume training that reported a timeout?"
### Search before asking

- [X] I have searched the HUB [issues](https://github.com/ultralytics/hub/issues) and found no similar bug report.

### HUB Component

Training

### Bug

<img width="1188" alt="Annotation 2022-08-02 153700" src="https://user-images.githubusercontent.com/97718899/182355195-92d11f90-8393-4f0e-8389-d188900b3ead.png">
 is there anyway i can resume the training from where it h

[2022-08-02 10:41] kalenmike commented on #67
@rexayyy Unfortunately we do not currently offer any resume capabilities. The work is currently being done on YOLOv5 and once it is finished we will add resume capabilities into the Ultralytics HUB.

[2022-08-02 10:43] rexayyy commented on #67
Is there any way to avoid this kind of failures?

[2022-08-02 11:03] kalenmike commented on #67
@rexayyy The Colab instance does not stay active if you do not interact with it. You can train using your own agent, by selecting 'Bring your own agent' and following the setup guide to start training on your own or cloud hardware.

[2022-08-02 11:19] glenn-jocher commented on #67
@rexayyy thanks for the question!

@kalenmike I see this could be pretty useful for Colab users. I'll prioritize the --resume single-file packaging feature we discussed.

[2022-08-03 11:08] mrKallah opened #68 "Is it possilbe to upload custom models? If not could this be added?"
### Search before asking

- [X] I have searched the HUB [issues](https://github.com/ultralytics/hub/issues) and [discussions](https://github.com/ultralytics/hub/discussions) and found no similar questions.

### Question

Is it possilbe to upload custom models? If not could this be added?

### Additional

_No response_

[2022-08-03 11:20] kalenmike commented on #68
@mrKallah Thanks for the question. We are not currently considering custom models to be uploaded. This is mainly because custom models would be very limited at the moment as we they would not contain any of the other information we show (metrics, dataset, etc).

This is related to #46 and #43

[2022-08-03 11:21] #68 closed

[2022-08-03 11:22] kalenmike commented on #67
The work is coming along and we are expecting the have this feature live in the next 3 days.

[2022-08-04 01:57] rexayyy commented on #67
Brilliant! I am very excited to try this. Thank you so much

[2022-08-04 04:08] Latzi commented on #62
Thanks Glenn. For now I was able to train a model with ~100k images (640 px) using AWS . $6.18 /h took around 4 days just over $1k . I got what I wanted so hopefully next models won't require these kind of numbers :-) . I basically stripped 280k images from the COCO 2017 dataset by eliminating images with classes I didn't need and adding my own images to the effect of 20% of total. Trained and the

[2022-08-04 19:48] glenn-jocher commented on #62
@Latzi awesome, nice work! Hopefully we can get cloud training deployed around October at prices significantly below the large cloud providers.

[2022-08-05 16:14] kalenmike commented on #67
@rexayyy We are excited to comment that we have now deployed the training resume feature. This will only apply to models that started training from 05 August 2022 16:00 GMT as additional data has to be embedded in the weights.

To resume training a model simply pass the same API key and the Ultralytics pip package will resume from the last saved checkpoint.

It would be great to hear your feedback

[2022-08-05 16:14] #67 closed

[2022-08-05 18:16] SwirX opened #69 "Camera not working"
### Search before asking

- [X] I have searched the HUB [issues](https://github.com/ultralytics/hub/issues) and found no similar bug report.

### HUB Component

_No response_

### Bug

when I just downloaded the app it was working fine but after I logged in with github and returned to the main page the screen was black then I closed and re opened the app but I had the same problem I went and decli

[2022-08-05 18:23] glenn-jocher commented on #69
@SwirX hi thanks for the bug report! You should accept the camera permissions the first time you open the app after install. If you declined the permissions then the app will not be able to use your camera and the screen will be black. In this case please uninstall and reinstall to accept the permissions.

If the issue persists after following the above steps please let us know, thank you!

[2022-08-08 08:03] anseryuer opened #74 "how to upload my own model through .ONNX or .PT file"
### Search before asking

- [X] I have searched the HUB [issues](https://github.com/ultralytics/hub/issues) and [discussions](https://github.com/ultralytics/hub/discussions) and found no similar questions.

### Question

I wonder if I can import my own model trained based on YOLOv5s through uploading the .onnx file or .pt file and see how it performs.

If the function is not availble yet, I wonder

[2022-08-08 14:35] glenn-jocher commented on #74
@anseryuer thanks for the feedback! Model upload is not available, but you can train a model with HUB and then preview and export to any destination including ONNX.

[2022-08-08 16:26] Denizzje commented on #67
Hey Kalen,

As I was testing this very useful feature by both timing out on a Colab background execution and training on a normal VM (with just temporary storage) and stopping the training, I came to the grave realisation that I didnt save the API keys. Put them in a notepad and then forgot to save it :).

It would be nice if the training key is displayed or requestable somewhere.

[2022-08-08 17:06] glenn-jocher commented on #67
@Denizzje thanks for the feedback! This is a very good point.

@kalenmike we probably want to show the API-model key during training, and then we can remove it once training completes successfully.

[2022-08-09 16:51] Joe-KI333 opened #75 "How to deploy my own custom model in android devices"
### Search before asking

- [X] I have searched the HUB [issues](https://github.com/ultralytics/hub/issues) and found no similar feature requests.

### Description

Add the Train model in detect section.

### Use case

_No response_

### Additional

_No response_

[2022-08-09 23:20] kalenmike commented on #75
@Joe-KI333 Thank you for reaching out. I am not quite sure I understand what you are suggesting, do you mind elaborating?

[2022-08-10 04:31] Joe-KI333 commented on #75
Actually I trained my own custom dateset  in yolov5n model from ultralytics hub. Can I use that model to deploy it on android devices.

[2022-08-10 12:15] barney2074 commented on #75
You'll obviously need the Ultralytics app
<img width="1249" alt="Screen Shot 2022-08-10 at 9 40 02 pm" src="https://user-images.githubusercontent.com/25944617/183897730-875fe512-104d-42ac-8590-4d486d5daca9.png">

[2022-08-10 14:44] kalenmike commented on #67
@Denizzje Yes we are busy working to show the API key in the model page. For the moment you can get them your self as they are a combination of your API key on your settings page and your model id in the URL joined with an underscore.

https://hub.ultralytics.com/settings/api-keys = YYYYYYYYYYY

https://hub.ultralytics.com/models/XXXXXXXXXXXXX

Model API key = YYYYYYYYYYY_XXXXXXXXXXX

[2022-08-10 15:25] kalenmike commented on #67
API keys for training models can now be requested on the model page while the model is still in training.

[2022-08-10 15:28] kalenmike commented on #75
@Joe-KI333 Thanks for elaborating. You can preview your custom model using the Ultralytics App as mentioned by @barney2074. You can get the app here:
[https://play.google.com/store/apps/details?id=com.ultralytics.ultralytics_app](https://play.google.com/store/apps/details?id=com.ultralytics.ultralytics_app)

You can also export to TensorFlow Lite  if you have already built your own android applica

[2022-08-10 19:56] proDev-Theron opened #76 "Is it possible to add my own 10 classes to an existing dataset?"
### Search before asking

- [X] I have searched the HUB [issues](https://github.com/ultralytics/hub/issues) and [discussions](https://github.com/ultralytics/hub/discussions) and found no similar questions.

### Question

I want to train a model that can detect what plant it is based on an image of a leaf.
I don't want the model to process it if the image is not a leaf in the first place.
I'm think

[2022-08-10 20:07] glenn-jocher commented on #76
@proDev-Theron I don't understand your question. To determine if the image has a leaf you'll need a model to run. If you're going to run a model just run the model with the 10 classes you'd like to detect. Simple.

[2022-08-11 08:25] barney2074 commented on #76
@proDev-Theron
do you mean a second stage classifier ?
i.e the 1st one might detect plants. The 2nd one detects species of plants

[2022-08-11 09:59] proDev-Theron commented on #76
Maybe. It's my first time hearing about second-stage classifiers. What kind of output will I have with a second-stage classifier? A single .pt file? How do I connect that to a custom website?

[2022-08-11 11:38] kalenmike commented on #75
@Joe-KI333 Thanks for the response. We found an issue with the exports on our end. You should now be able to try again it should work for you.

Please let me know if you still have issues.

[2022-08-11 11:44] kalenmike commented on #76
@proDev-Theron It seems like your solution may be overly complicated. If you train your model on your 10 classes of leaves you can then run inference on an image, if a leaf is detected and matches on of your classes it will show up in the results. If there are no leaves detected then the inference results will be empty.

Using a pretrained YOLOv5 model gives you all of the benefits of a model trai

[2022-08-11 12:39] #74 closed

[2022-08-11 16:55] Denizzje commented on #67
@glenn-jocher @kalenmike I confirm that this feature works brilliantly, after having succesfully failed my training runs on purpose. Both the Colab ""Pro +"" background execution training , and the more difficult one, a Lambda labs RTX A6000 VM which I abruptly stopped training for and connected it to a completely different enviornment (Paperspace Gradient free GPU) worked like a charm to resume.

[2022-08-11 17:08] proDev-Theron commented on #76
You mean I could use the pretrained model and get inference results just by
adding them to my classes in the yaml file? That's awesome!
How can I use the model in my web app?

On Thu, Aug 11, 2022, 7:44 PM Kalen Michael, ***@***.***>
wrote:

[2022-08-11 17:30] Joe-KI333 commented on #75
Thank you sir now I'm able to download those model but while running it on android it is not detecting object or drawing box, I should retrain my model my issues almost solved.🙏👼

[2022-08-11 17:55] kalenmike commented on #67
@Denizzje Thanks for the feedback and great to hear its working for you! We were also pretty excited about this feature!

[2022-08-11 17:59] kalenmike commented on #76
@proDev-Theron You would still have to retrain the pretrained model on your custom dataset.

We do not currently offer any frameworks to help get your web app setup but we are busy working on an inference API which would allow your web app to connect to the API and fetch inference results. We also offer Tensorflow JS as an export option which you would then have to implement  in your web app yours

[2022-08-11 17:59] #76 closed

[2022-08-11 18:00] kalenmike commented on #75
@Joe-KI333 Does your model detect correctly when using the web preview?

[2022-08-11 18:01] #63 closed

[2022-08-11 18:10] Joe-KI333 commented on #75
Yes sir it is fine in web preview.
 My phone is redmi 6 it have 4gb  ram
![image](https://user-images.githubusercontent.com/85284912/184209401-ca46e3d9-005a-481e-ae0e-98126d77df31.png)

[2022-08-11 21:46] glenn-jocher commented on #67
@Denizzje awesome! That's super cool that you resumed from a completely different environment!!

[2022-08-13 13:47] rexayyy commented on #65
dataset is uploaded successfully but i get the dataset error while running the train. Any idea??

[2022-08-14 11:51] Joe-KI333 commented on #75
yes this is the results from phone even change the the threshold
![WhatsApp Image 2022-08-14 at 1 35 04 AM](https://user-images.githubusercontent.com/85284912/184535478-37dc1927-3a65-43dd-8e0f-d5276b65faa4.jpeg)

[2022-08-15 10:35] kalenmike commented on #75
@Joe-KI333 Thanks for the feedback. We will take a look at the Android app and see why it is not playing well with your device.

[2022-08-16 02:07] #56 closed

[2022-08-16 05:43] Joe-KI333 commented on #75
Thank you Sir All the best to Ultralytics team. Looking forward for a good result👼

[2022-08-18 01:50] adindravickarega opened #77 "How to logging results of hub ultralytics training process in Google Drive ?"
Hello...

This is my first time using Ultralytics Hub for training my model.

In Google Colab with cloned yolov5 official repository, i am used to run this code for training my model in order to log my training process results in my Google Drive folder :

!python train.py --img 640 --batch 8 --epochs 200 --data /content/drive/MyDrive/dataset/data.yaml --weights yolov5s.pt --cache --project /conten

[2022-08-18 11:58] barney2074 commented on #77
High level logging is shown within Hub for Hub training jobs- I'd guess you can't change this
<img width="981" alt="Screen Shot 2022-07-27 at 8 53 40 am" src="https://user-images.githubusercontent.com/25944617/185387694-63936c84-b829-45b5-938f-a33c7123e99f.png">

However, normal YoloV5 will optionally log to Wandb.ai- which is very detailed- I'd recommend this

[2022-08-18 13:08] glenn-jocher commented on #77
@barney2074 @adindravickarega yes you can just run this code in colab before starting a YOLOv5 or HUB training to also log to W&B.

[code]

[2022-08-20 00:27] barney2074 opened #78 "IOS export fails"
### Search before asking

- [X] I have searched the HUB [issues](https://github.com/ultralytics/hub/issues) and found no similar bug report.

### HUB Component

Export

### Bug

Hi

I am having  problem exporting a model to IOS format
Others model exports have worked o.k- the only difference I can think of is that the training images are aerial photos with very small objects, so I trained at 1000p

[2022-08-20 10:12] robotwhispering opened #79 "Dark mode"
### Search before asking

- [X] I have searched the HUB [issues](https://github.com/ultralytics/hub/issues) and found no similar feature requests.

### Description

I just signed up and it's bright. ;}

### Use case

Cave dwelling software developers often prefer darker screens. Oh yeah, and it's the environmentally responsible thing to do as well... Yeah, conserve power for my GPU farm. ;)

### A

[2022-08-20 10:27] rexayyy opened #80 "Model Overfitting"
### Search before asking

- [X] I have searched the HUB [issues](https://github.com/ultralytics/hub/issues) and [discussions](https://github.com/ultralytics/hub/discussions) and found no similar questions.

### Question

I have trained multiple models of Yolov5 on a custom dataset, but my model always overfit. What can be the problem here as when i trained it using Yolov5 custom dataset training c

[2022-08-20 14:16] glenn-jocher commented on #78
@barney2074 thanks for the bug report! I'm able to reproduce CoreML export failures in HUB on my end. I'll add a TODO to investigate.

[2022-08-20 14:27] rexayyy opened #81 "Training error"
### Search before asking

- [X] I have searched the HUB [issues](https://github.com/ultralytics/hub/issues) and found no similar bug report.

### HUB Component

Training

### Bug

![image](https://user-images.githubusercontent.com/97718899/185751267-46c6fe7e-564f-430c-9000-e92691a19f08.png)
there is a training error suddenly with the hub as it is showing no sign of training.

### Environment

_No

[2022-08-20 14:39] rexayyy commented on #81
![image](https://user-images.githubusercontent.com/97718899/185751943-d373733f-c3e1-46e3-ab05-797ed3c23e65.png)

[2022-08-20 14:45] glenn-jocher commented on #79
@robotwhispering thanks for the feedback!

@AlanDimmer @kalenmike let's discuss at the next weekly

[2022-08-20 14:56] glenn-jocher commented on #80
@rexayyy 👋 Hello! Thanks for asking about improving YOLOv5 🚀 training results.

Most of the time good results can be obtained with no changes to the models or training settings, **provided your dataset is sufficiently large and well labelled**. If at first you don't get good results, there are steps you might be able to take to improve, but we always recommend users **first train with all default

[2022-08-20 14:57] glenn-jocher commented on #81
@rexayyy good news 😃! Your original issue may now be fixed ✅ in PR #9037. To receive this update:
- **[Git](https://github.com/ultralytics/yolov5)** – `git pull` from within your `yolov5/` directory or `git clone https://github.com/ultralytics/yolov5` again
- **[PyTorch Hub](https://pytorch.org/hub/ultralytics_yolov5/)** – Force-reload `model = torch.hub.load('ultralytics/yolov5', 'yolov5s', force

[2022-08-20 14:58] #81 closed

[2022-08-20 20:26] rexayyy commented on #81
would you please fix it with the hub so i can train my model normally as i used to do before

[2022-08-20 21:43] rexayyy opened #82 "mAP zero while training"
### Search before asking

- [X] I have searched the HUB [issues](https://github.com/ultralytics/hub/issues) and found no similar bug report.

### HUB Component

Training

### Bug

@glenn-jocher  the issue still prevails as i have tried training using a different dataset and even different model and tried both hub and custom colab notebook

### Environment

_No response_

### Minimal Reproducible E

[2022-08-20 21:53] glenn-jocher commented on #82
@rexayyy this isn't a HUB issue, this is related to YOLOv5 and has been resolved in https://github.com/ultralytics/yolov5/pull/9037, so all you need to do is start from a fresh Colab notebook or update your local YOLOv5, i.e. `git pull` from inside your YOLOv5 directory.

[2022-08-20 21:55] rexayyy commented on #82
I will try now and let you know right now

[2022-08-20 23:05] rexayyy commented on #82
![Screen Shot 2022-08-21 at 4 04 55 AM](https://user-images.githubusercontent.com/97718899/185768886-27008f03-80ef-48bb-8523-b2ad653ffea1.png)
it is still the same

[2022-08-21 00:12] glenn-jocher commented on #82
@rexayyy yes I'm able to reproduce. Am investigating now.

<img width="1124" alt="Screenshot 2022-08-21 at 02 06 16" src="https://user-images.githubusercontent.com/26833433/185769970-2f7e00a4-c726-40fc-bee9-7e324bc239c0.png">

[2022-08-21 01:10] rexayyy commented on #82
I will do it again and let you know the progress

[2022-08-21 01:27] rexayyy commented on #82
![image](https://user-images.githubusercontent.com/97718899/185771480-8f31aeab-1d9a-4c6c-bfb3-07611f089764.png)
I am still getting the issue

[2022-08-21 01:33] MGIbrahim commented on #82
I am also having the same problem now
![Screenshot 2022-08-21 033303](https://user-images.githubusercontent.com/50985899/185771615-0117ee80-097d-4ad8-ac92-088ba750ae7c.png)

[2022-08-21 01:41] glenn-jocher commented on #82
@rexayyy @MGIbrahim sorry about the persistent problems. I think I've resolved this now in https://github.com/ultralytics/yolov5/pull/9058

I created a new HUB model and trained in a **new Colab notebook** (YOLOv5n on COCO128 for 10 epochs) and everything looks fine now.

<img width="1309" alt="Screenshot 2022-08-21 at 03 39 30" src="https://user-images.githubusercontent.com/26833433/185771758-123

[2022-08-21 02:15] MGIbrahim commented on #82
@glenn-jocher Thanks for your quick response on this! I did a git pull and tried training again, but it still shows the mAP of 0.
![Uploading Screenshot 2022-08-21 041514.png…]()

[2022-08-21 02:22] rexayyy commented on #82
![Screen Shot 2022-08-21 at 7 21 38 AM](https://user-images.githubusercontent.com/97718899/185772570-00d100ee-5e05-4699-94db-c8c977e3e8e6.png)
Yes, it is still not fixed. I don`t know what has happened as it was working totally fine a few hours ago.

[2022-08-21 13:17] glenn-jocher commented on #82
@MGIbrahim @rexayyy zero-mAP problem is being tracked down in https://github.com/ultralytics/yolov5/issues/9059

[2022-08-21 13:26] robotwhispering commented on #82
@glenn-jocher do you notice that in the hub display in the above post, his Images and Labels coutns are messed up like mine are? But in the Hub image a few posts up, they're normal. And I haven't used Hub yet, only Colab and local. I wonder if there's some off-by-1 erroBut it shouldn't be wityh Hub, because I have yet to use it. I'm looking forward to trying it, but I haven't yet.

[2022-08-21 13:41] #82 closed

[2022-08-22 13:43] Ibrahim-Ahrash opened #83 "Error while resume trainig on colab"
### Search before asking

- [X] I have searched the HUB [issues](https://github.com/ultralytics/hub/issues) and found no similar bug report.

### HUB Component

_No response_

### Bug

After colab got disconnected for some reason (my ISP I assume). I tried to resume training by copying the api and running the code. the training started from where it stopped epoch number 120. another disconnecting

[2022-08-23 06:49] GisAdminLKSPN opened #84 "Problem to upload final result"
### Search before asking

- [X] I have searched the HUB [issues](https://github.com/ultralytics/hub/issues) and found no similar bug report.

### HUB Component

Training

### Bug

after succesfully training i becomes an error ( looks like is a problem with upload the final result to the hub).

ValueError                                Traceback (most recent call last)
[<ipython-input-12-09ef5983e4

[2022-08-24 00:02] rexayyy opened #85 "Model Results Understanding"
### Search before asking

- [X] I have searched the HUB [issues](https://github.com/ultralytics/hub/issues) and [discussions](https://github.com/ultralytics/hub/discussions) and found no similar questions.

### Question

Does this mean my model overfit?
![image](https://user-images.githubusercontent.com/97718899/186286556-873fa915-ca7c-49f3-9f5f-6b8b28526a92.png)
![image](https://user-images.githu

[2022-08-24 00:06] barney2074 commented on #83
Colab is intended for interactive use, rather than long-running computations
It depends a bit on your subscription- Pro and Pro+ give you more resources and have longer runtime limits, but it also depends on what resources you have used recently.

I get that Google try to make it fair for everyone, but the downside is that it is unpredictable- if you are running something while there is low demand

[2022-08-24 19:41] rexayyy opened #86 "Unable to save the weights after complete training"
### Search before asking

- [X] I have searched the HUB [issues](https://github.com/ultralytics/hub/issues) and found no similar bug report.

### HUB Component

Training

### Bug

I am getting an error that is prevent me to save the model even after its training is complete.
![image](https://user-images.githubusercontent.com/97718899/186508468-5747a1ab-93f3-4171-9568-a84ba02d8dd7.png)
![image](htt

[2022-08-25 03:43] rexayyy commented on #86
waiting for the response

[2022-08-25 05:08] shubham190398 opened #87 "When the dataset is uploaded, it doesn't read any test dataset images. It only reads the training and validation data."
### Search before asking

- [X] I have searched the HUB [issues](https://github.com/ultralytics/hub/issues) and found no similar bug report.

### HUB Component

Datasets

### Bug

There are no test images.
![image](https://user-images.githubusercontent.com/104817428/186579788-fbd1c4d0-0d21-4e8e-ac8d-5152769af47b.png)

### Environment

Using Ultralytics Hub on Windows 11 with Firefox.

### Minimal

[2022-08-25 05:44] rexayyy commented on #87
there is no test image in your data or the test path is not mentioned in your .yaml file. Please check the .yaml file if you have test images

[2022-08-25 05:48] rexayyy commented on #87
your .yaml must look like this. Leave the path empty for the hub.
![Screen Shot 2022-08-25 at 10 47 06 AM](https://user-images.githubusercontent.com/97718899/186584928-0c07b32f-b5d8-4426-9289-43e907cb49d2.png)

[2022-08-25 05:49] rexayyy commented on #87
you must have a labels folder having the labels for train, test and val with the same names

[2022-08-25 06:02] shubham190398 commented on #87
Got it. So datasets created via roboflow need an edit in their yaml files to include the test images. Thanks a lot.

[2022-08-25 07:58] shubham190398 commented on #86
Having the same issue.

[2022-08-26 08:38] GisAdminLKSPN commented on #86
same here ....

[2022-08-26 19:22] rexayyy opened #88 "Training Failed after the completion of Epochs"
### Search before asking

- [X] I have searched the HUB [issues](https://github.com/ultralytics/hub/issues) and found no similar bug report.

### HUB Component

Training

### Bug

![image](https://user-images.githubusercontent.com/97718899/186976762-dc523808-8a50-4651-a32b-ac92b4f89a0a.png)

### Environment

_No response_

### Minimal Reproducible Example

Ultralytics Hub
Windows
Training

### Add

[2022-08-27 02:19] #59 closed

[2022-08-28 09:06] PanterSoft opened #89 "Dataset Upload Failed with Multiple YAML's found"
### Search before asking

- [X] I have searched the HUB [issues](https://github.com/ultralytics/hub/issues) and found no similar bug report.

### HUB Component

_No response_

### Bug

I am trying to upload a Dataset wich has the exact same structure as the tutorial suggests the yaml file has the correct format and the labels only consists of numbers.

<img width="709" alt="Bildschirmfoto 2022-08-

[2022-08-28 21:13] nicomattes commented on #89
I found the issue myself it was some kind of charset issue issue can be closed.

[2022-08-29 00:10] glenn-jocher commented on #89
@PanterSoft hi I saw this issue was resolved on your side? Should we close the issue?

[2022-08-29 00:26] glenn-jocher commented on #84
@GisAdminLKSPN thanks for the bug report! This has since been fixed. I'll close this issue but please let us know if you have any other problems or feature requests.

[2022-08-29 00:26] #84 closed

[2022-08-29 00:27] glenn-jocher commented on #88
@rexayyy thanks for the bug report! This YOLOv5 issue has been resolved now, please try training again with a fresh colab notebook or a new YOLOv5 git clone, and let us know if you run into any other problems or have any feature ideas for HUB!

[2022-08-29 00:27] #88 closed

[2022-08-29 00:28] glenn-jocher commented on #86
@rexayyy @shubham190398 @GisAdminLKSPN thanks for the bug report! This YOLOv5 issue has been resolved now, please try training again with a fresh colab notebook or a new YOLOv5 git clone, and let us know if you run into any other problems or have any feature ideas for HUB!

[2022-08-29 00:28] #86 closed

[2022-08-29 04:42] nicomattes commented on #89
Sorry was a mistake I still have the same problem.

[2022-08-29 05:56] shubham190398 opened #90 "The app is unable to use my camera."
### Search before asking

- [X] I have searched the HUB [issues](https://github.com/ultralytics/hub/issues) and found no similar bug report.

### HUB Component

_No response_

### Bug

After training a model and exporting it to TFLite and Ultralytics Android format, I tried using the app on my device (OnePlus Nord 2 CE Lite 5G). However, while I was able to sign in without issue, the app doesn't d

[2022-08-29 15:44] nicomattes commented on #89
I found the issue when you create a zip file on MacOS it creates a hidden folder in the file which contains the same files which denn gives the error multiple yaml files. solved it by uploading dataset from Windows

[2022-08-29 16:47] glenn-jocher commented on #85
@rexayyy no, the opposite. You're model has not started overfitting and thus you have not trained long enough.

[2022-08-29 16:50] glenn-jocher commented on #78
@kalenmike I'm still seeing this error on HUB CoreML and Ultralytics-iOS exports. Just tested on a newly trained ultralytics 0.0.33 model.

[2022-08-29 17:31] glenn-jocher commented on #90
@shubham190398 thanks for the bug report! Can you uninstall and re-install the app and double check that you are enabling permissions?

@sergiossm please add a TODO to notify users on declined permissions

[2022-08-30 05:26] shubham190398 commented on #90
@glenn-jocher I did that yesterday which didn't work, but it is working today! Not sure what the problem was.

[2022-08-30 05:58] shubham190398 commented on #90
@glenn-jocher Okay, this might be related to the issue above. So the camera functionality stops working if I rapidly shift from one model to another in a short time. Restarting the app doesn't work to fix it, so I had to reinstall it again.

[2022-08-30 05:58] #87 closed

[2022-08-30 11:57] glenn-jocher commented on #90
@shubham190398 that's funny, I thought it was too hard to switch between models fast enough so we are working on a refreshed app that allows for much simpler model changing. Are there steps we can take to reproduce the problem?

[2022-08-30 14:01] nicomattes opened #93 "Support for Multi GPU Training"
### Search before asking

- [X] I have searched the HUB [issues](https://github.com/ultralytics/hub/issues) and found no similar feature requests.

### Description

Being able to select how many GPUs should be used for training like command line YOLOv5

### Use case

It accelerates training a lot

### Additional

_No response_

[2022-09-01 06:45] shubham190398 commented on #90
@glenn-jocher Sorry for the late reply! An easy way in which I could replicate the bug multiple times is as follows:

1. Sign in to my UH account
2. Choose one of the default models
3. Go to Detect
4. Then go back and choose another one of the default models
5. Again go to Detect
6. Then choose one of my custom models

By this time, the camera screen is black and restarting the app doesn't make a

[2022-09-01 10:24] glenn-jocher commented on #90
@shubham190398 got it, thanks!

@sergiossm please try to replicate this and debug if there are any issues.

[2022-09-01 11:09] glenn-jocher commented on #93
@nicomattes thanks for the feedback! Yes you are right. We will integrate Multi-GPU training in the future, for now we've focused mostly on supporting Colab-like environments.

[2022-09-01 13:48] rexayyy opened #96 "Unable to load Model after downloading weights from Hub"
### Search before asking

- [X] I have searched the HUB [issues](https://github.com/ultralytics/hub/issues) and found no similar bug report.

### HUB Component

Export

### Bug

I am getting an error while loading the model in my jupyter notebook that i have trained uisng hub, it was working fine previously
![Uploading image.png…]()

### Environment

Windows ten
Cuda enabled
yolov5 repo cloned and

[2022-09-01 14:09] kalenmike commented on #96
@rexayyy Thanks for posting. To clarify a model that you previously trained and tested in Jupyter is now no longer working or previously you had no issues, but you have now trained a new model and it is not working?

Also if you could let me know what format you are using in Jupyter it would be helpful.

[2022-09-01 14:10] kalenmike commented on #89
@nicomattes Thanks for letting us know. We will look into improving this for zips created with MacOS.

[2022-09-01 14:10] #89 closed

[2022-09-01 14:14] kalenmike commented on #83
@Ibrahim-Ahrash Thanks for letting us know. We will look into the resume functionality and see if we can find any bugs when resuming on the final epoch.

[2022-09-01 14:16] #78 closed

[2022-09-01 14:39] rexayyy commented on #96
it is working fine now, after i have cloned the yolov5 again. Thank you for the help

[2022-09-01 23:27] barney2074 commented on #78
All good, thanks Kalen

[2022-09-05 09:43] kris-himax opened #97 "Support Quantized Tensorflow lite model"
### Search before asking

- [X] I have searched the HUB [issues](https://github.com/ultralytics/hub/issues) and [discussions](https://github.com/ultralytics/hub/discussions) and found no similar questions.

### Question

Hi,
The environment is amazing.
But the TensorFlow Lite model is only supported floating.
We will deploy the tflite model to the devices which are resource constrained.
Could you

[2022-09-06 01:37] kris-himax commented on #97
@glenn-jocher thanks for the reply!
I am the member at the Himax Technologies, Inc (https://www.himax.com.tw/) which are researching and developing next generation ultra low power deep learning IC with M55 and U55.
We are really interested in your model with no code environment to support quantized TFlite int models.

[2022-09-06 10:56] glenn-jocher commented on #97
@kris-himax got it! One solution you could use is to download the PyTorch model instead and export it to TFLite INT8 using YOLOv5, i.e.

[code]

One problem we've seen though is that INT8 models do not produce identical validation results. FP32 and FP16 models will produce identical mAP, but quantizing to INT8 results in some drop, so you should definitely validate both exports first to verify you

[2022-09-10 05:49] gdmcdonald commented on #25
The current model is here on huggingface -
https://huggingface.co/spaces/hlydecker/marsupial

Model weights here:
https://huggingface.co/spaces/hlydecker/marsupial/tree/main/model_weights

We really want to be able to do inference on large numbers of images -  in the order of 100k to 1M at a time.

[2022-09-10 15:48] glenn-jocher commented on #25
@gdmcdonald can you send an email for us to better understand your use case? Thanks!

glenn.jocher@ultralytics.com

[2022-09-12 02:30] #69 closed

[2022-09-12 03:28] kris-himax commented on #97
@glenn-jocher hi,
While we try to quantize the other model which the activation function uses silu, the result of quantized int8 model is worse.
In our opinion, maybe the reason of  quantized  INT8 results dropping is the silu activation function.
Would you try to replace silu to other activation function and then do the quantization?

Thanks

[2022-09-15 12:58] dubrovin-sudo opened #98 "Android detect mode doesn't work"
Detect mode doesn't work, black screen instead of camera

[2022-09-15 12:59] kalenmike commented on #98
Hey @dubrovin-sudo, thanks for raising an issue. Did you accept the camera permissions? Also could you specify which device you are using please?

[2022-09-15 13:24] dubrovin-sudo commented on #98
@kalenmike Sure, I accepted the camera permissions. Xiaomi MI 9 and Huawei P30.

[2022-09-15 13:35] sergiossm commented on #98
@dubrovin-sudo Thanks for reporting the issue, we'll take a look into it.

We're working on a major update for the app, we'll make sure the bug is fixed in the new version.

[2022-09-15 22:48] glenn-jocher commented on #97
@kris-himax TFLite seems to suffer from poor results at INT8, likely due to their specific quantization strategy. Other formats like CoreML suffer no significant drop in mAP when moving from FP16 to INT8.

BTW I just added the ability to add any activation to YOLOv5 models with a new `activation:` field in a model yaml. This works with any PyTorch activation, including ones that require arguments.

[2022-09-22 02:22] #75 closed

[2022-10-06 23:26] smbunn commented on #98
Have same issue on my Huawei P30Pro. Camera permissions are all good

[2022-10-08 01:58] #93 closed

[2022-10-08 01:58] #90 closed

[2022-10-08 01:58] #85 closed

[2022-10-08 01:58] #83 closed

[2022-10-08 01:58] #77 closed

[2022-10-08 10:43] glenn-jocher commented on #98
@smbunn thanks for the bug report!

We should be releasing a new version on both Android and iOS early this week that should address this issue. @sergiossm

[2022-10-10 17:41] jgoo9410 opened #99 "Upload yolov5 pt file"
### Search before asking

- [X] I have searched the HUB [issues](https://github.com/ultralytics/hub/issues) and [discussions](https://github.com/ultralytics/hub/discussions) and found no similar questions.

### Question

Is it possible to upload a yolov5 model I have trained locally to my Ultralytics account in order to run it on my iPhone via the Ultralytics app?

I can't see anywhere that would

[2022-10-10 18:30] glenn-jocher commented on #99
@jgoo9410 thanks for the feedback! We've had similar feature requests a few times now, so we have put this in our product roadmap for deployment in the next few months.

[2022-10-10 19:03] jgoo9410 commented on #99
Thanks @glenn-jocher. I’ve spent the last half an hour trying to trick the colab script into uploading my model instead, to no avail you’ll be pleased to hear 😂

[2022-10-11 07:47] Marcof64 commented on #23
Hello Stefani,

Yes we have access to flutter code but we don’t have access to the code for the newly released Android app now available in the play store!

Thanks

Marco

Da: Stefani ***@***.***>
Inviato: lunedì 9 maggio 2022 11:35
A: ultralytics/hub ***@***.***>
Cc: Marcof64 ***@***.***>; Mention ***@***.***>
Oggetto: Re: [ultralytics/hub] Pixel 3i (Issue #23)

Hi @Marcof64 <https://github.com/M

[2022-10-11 08:34] tehreemkamal111 commented on #36
What is the formate?

On Sat, 21 May 2022, 9:35 PM Glenn Jocher, ***@***.***> wrote:

[2022-10-11 09:24] Marcof64 commented on #23
Super!
Thanks

[2022-10-11 11:51] jgoo9410 commented on #99
Thanks. Just to clarify, if I train using Hub, will my model and dataset remain private to my account, or will it be publicly accessible?

[2022-10-11 12:13] kalenmike commented on #36
@tehreemkamal111 The Ultralytics HUB now supports the standard YOLOv5 format. You can see how to create your dataset here https://github.com/ultralytics/hub/ and you can also import a dataset downloaded from Roboflow.

[2022-10-17 08:31] mehlkelm commented on #89
I have the same problem.
Workaround: zip the folder from the command line like this:
https://apple.stackexchange.com/a/239587

[2022-10-17 13:29] mehlkelm commented on #89
The issue arises (I think) because macOS creates a hidden (for mac users) directory "__MACOSX" inside the zip file that contains additional information about all the files. To a non-mac OS it looks like everything is duplicated.

Maybe the dataset upload tool should just ignore the __MACOSX folder in there.

[2022-10-17 13:32] glenn-jocher commented on #89
@mehlkelm yeah good point. We definitely want a macOS-robust tool. Could you upload a small zip that's crashing HUB here or email it to glenn.jocher@ultralytics.com? Thanks!

[2022-10-18 08:39] mehlkelm commented on #89
This is a completely made up example but it shows the problem.
(It doesn't crash HUB, it just shows the "Multiple YAML's found" problem)

[macos_zip_problem_demo.zip](https://github.com/ultralytics/hub/files/9808500/macos_zip_problem_demo.zip)

[2022-10-18 12:13] glenn-jocher commented on #89
@mehlkelm thanks! We'll use the zip to debug and improve the dataset upload process.

[2022-10-18 12:35] glenn-jocher commented on #89
When unzipping I see the `__MACOSX/` directory containing a duplicate YAML:
[code]

[2022-10-18 12:40] mehlkelm commented on #89
All the files in __MACOSX are hidden, as are the .DS_Store files, which are also some sort of OS specific info files. Maybe ignoring hidden files in general would be enough…

[2022-10-18 12:42] mehlkelm commented on #89
(according to the unix way of treating files with names starting with a dot as hidden)

[2022-10-18 12:43] glenn-jocher commented on #89
@mehlkelm actually this is really strange, on my mac if I unzip using the GUI/mouse commands everything unzips correctly into 1 directory. If I unzip using the terminal I get two top level directories:

[code]

<img width="917" alt="Screenshot 2022-10-18 at 14 42 08" src="https://user-images.githubusercontent.com/26833433/196432519-85fb9266-2ec0-4856-8c7a-09fcff500401.png">

[2022-10-18 12:49] mehlkelm commented on #89
I guess the regular mac unzip processes the information in __MACOSX (technically they are resource forks) and doesn't interpret them as files, while all the non Mac tools/OS (even unzip in the terminal on mac?) think they are files.

[2022-10-18 12:50] mehlkelm commented on #89
but yes, it's silly that the mac puts them there

[2022-10-18 13:20] glenn-jocher commented on #89
@kalenmike I'm not able to produce any errors with HUBDatasetStats on this zip. To reproduce I downloaded https://github.com/ultralytics/hub/files/9808500/macos_zip_problem_demo.zip, placed in a sandbox/ dir, and ran the code below.

[code]

<img width="1300" alt="Screenshot 2022-10-18 at 15 17 00" src="https://user-images.githubusercontent.com/26833433/196440558-d5088303-d584-42a4-8d09-c48712033e

[2022-10-18 14:02] glenn-jocher commented on #89
@kalenmike @mehlkelm I've opened https://github.com/ultralytics/yolov5/pull/9843 in YOLOv5 to better handle unzipping while rejecting files in an exclude list, i.e. .DS_Store and __MACOSX instances in file paths.

[2022-10-18 14:05] kalenmike commented on #89
@glenn-jocher There is independent validation on the server that is not excluding the MACOSX folder by the looks of it.

[2022-10-18 16:57] Fedefirewall opened #100 "Black camera after login"
### Search before asking

- [X] I have searched the HUB [issues](https://github.com/ultralytics/hub/issues) and found no similar bug report.

### HUB Component

Inference

### Bug

Black screen on detection after login, if i dont login, everything is fine
![Screenshot_20221018-185638](https://user-images.githubusercontent.com/61513937/196496191-477ebe56-4147-4dc2-8b2a-e36ce8f813af.png)

### Enviro

[2022-10-18 19:56] glenn-jocher commented on #89
@kalenmike ok got it, I'll let you try to debug on the server side.

[2022-10-18 20:15] glenn-jocher commented on #100
@Fedefirewall thanks for the bug report! We have an Android update due to be released in the next few days that may resolve this issue.

@sergiossm could you tell us about our Android app status? Thanks!

[2022-10-18 20:53] Fedefirewall commented on #100
@sergiossm thanks for the fast answer!
Hope the update Will be rolled out soon!

[2022-10-20 11:53] kalenmike commented on #89
This is now resolved and zip files created on Mac can now be processed successfully without special zipping.

[2022-10-21 16:00] pderrenger opened #106 "Remove Default Settings Warning Notification"
### Search before asking

- [X] I have searched the HUB [issues](https://github.com/ultralytics/hub/issues) and found no similar feature requests.

### Description

Default Settings Warning Notification should disappear once changes have been saved.

There is a box that says "Default settings have been optimized for best results in most use cases. Change only if you are an expert user." with an op

[2022-10-21 16:11] kalenmike commented on #106
@pderrenger The box remains so that the user has the option to reset back to the default options.

[2022-10-22 02:11] #97 closed

[2022-10-28 05:59] zsefvbhu opened #108 "Can I get an output of image coordinates of the detected objects with unique id and corresponding frame number in a text file or excel file?"
### Search before asking

- [X] I have searched the HUB [issues](https://github.com/ultralytics/hub/issues) and found no similar feature requests.

### Description

Can I get an output of image coordinates of the detected objects with a unique id and corresponding frame number in a text file or excel file? ClearML gives the output of training results, but I want output of detections detected in a

[2022-10-29 21:19] gblikas opened #110 "How do I increase my rate limit?"
### Search before asking

- [X] I have searched the HUB [issues](https://github.com/ultralytics/hub/issues) and [discussions](https://github.com/ultralytics/hub/discussions) and found no similar questions.

### Question

I'm using Google Colab to run the Ultralytics API, through the provided workflow, via hub.ultralytics.com. And, I'm trying to train my own inference using a provided Dataset, and

[2022-10-29 21:33] glenn-jocher commented on #110
@gblikas hi, thanks for the bug report! We may have set rate limits a bit too strict, we will take a look at loosening these a bit. In the meantime if you wait 15 minutes you should be able to try again. Let me know if this works for you, thanks!

@kalenmike @AyushExel

[2022-10-29 21:41] gblikas commented on #110
@glenn-jocher A timer/count-down would be helpful as well! Also, some documentation or tutorial links about how rates are calculated would be helpful: what part are we limiting against, etc..

[2022-10-29 21:44] gblikas commented on #110
@kalenmike @AyushExel  @glenn-jocher Update: I've waited roughly 20min, and the model still hasn't resumed training

[2022-10-29 21:47] AyushExel commented on #110
@gblikas were you able to run a few times before the rate limit error within these 2 hours?
If that's not the case then I might be the culprit here. I might've started and interrupted too many runs which caused something with the server.

[2022-10-29 22:04] gblikas commented on #110
@AyushExel Last successful run was 3ish hours ago,

<img align="center" width="1626" alt="Screen Shot 2022-10-29 at 3 03 39 PM" src="https://user-images.githubusercontent.com/13577108/198854016-e8cb31f6-a423-4f7b-81a8-9568db3ad2fe.png">

[2022-10-29 22:12] AyushExel commented on #110
No no 😆  .. started and interrupted training runs from hub client

[2022-10-29 22:16] gblikas commented on #110
@AyushExel So I am supposed to wait... Not a super satisfying answer... what is the typical rate-limit timeout? Also, if the issue is from starting and stopping things from the client, how do I know it will re-connect - are there troubleshooting steps I can take to guarantee it re-connects?

[2022-10-29 22:20] AyushExel commented on #110
@gblikas hey I'm not the developer please wait for Kalen to respond, it's midnight in his timezone. I was also just trying HUB today. I'm just guessing here. I asked you to let me know because I wanted to confirm from my end too.

[2022-10-29 22:24] gblikas commented on #110
@AyushExel  Apologies! Will do!

[2022-10-29 23:50] glenn-jocher commented on #110
@AyushExel seems like we have LOGGER issues in Colab also. Error message is not visible in Colab, but appears locally in PyCharm, i.e.

<img width="771" alt="Screenshot 2022-10-30 at 01 49 05" src="https://user-images.githubusercontent.com/26833433/198856627-2ab65db0-ac9a-4c64-86f6-40e4417c425b.png">

[2022-10-30 00:57] gblikas commented on #110
@glenn-jocher Your statement is consistent with my findings as well; The error(s) appears only when the command(s) are run from the terminal, rather than the Colab Notebook.

[2022-10-30 09:11] gblikas commented on #110
@AyushExel @glenn-jocher Just tried now, and it is working again - roughly 6 to 8 hours later.

[2022-10-30 09:41] glenn-jocher commented on #110
@gblikas thanks for the info! We'll keep looking into this, please let us know if the issue returns.

[2022-10-31 18:14] kalenmike commented on #110
@gblikas We have rate limits applied for seconds, minutes, hours, and days. If you reach your cap in any of these windows then you need to wait the same amount of time before your request will be accepted again.

You can check the status of your applied rate limiting by checking the response header as shown in the attached picture.

![image](https://user-images.githubusercontent.com/25989362/19907

[2022-10-31 18:26] gblikas opened #112 "Make Model API Key, Or URL, Available For Easy Colab Setup, Post Training"
### Search before asking

- [X] I have searched the HUB [issues](https://github.com/ultralytics/hub/issues) and found no similar feature requests.

### Description

Currently, once a custom model is done training, the API key that you insert into Colab is gone from the hub UI,

<img width="1805" alt="Screen Shot 2022-10-31 at 11 17 26 AM" src="https://user-images.githubusercontent.com/13577108/199

[2022-10-31 18:28] kalenmike commented on #112
@gblikas Thanks for the feedback! We are currently working on exposing all of the API's via the PIP package. When this code is finished and released you will be able to choose between using the GUI interface or using python/bash for all tasks.

[2022-10-31 18:32] kalenmike commented on #108
@zsefvbhu Thanks for the question. Currently the only way would be to split your video into frames and run inference on each frame. This sounds like an interesting task and I will look into it more, perhaps we can handle everything for you on the server and just send back the results from your uploaded video.

[2022-10-31 18:32] gblikas commented on #110
@kalenmike Thanks for getting back to me on this!

I'm still not sure what features of the API I'm getting rate-limited against... This information would be helpful to avoid this problem in the future.

I'm using Colab; how do I do this?

I'm not sure if I need to go on the paid plan, but also, don't have enough information to determine. Given your explanation, it seems like any time the Colab was

[2022-10-31 18:32] #106 closed

[2022-10-31 18:35] gblikas commented on #112
@kalenmike  My feature request might be wrapped up in this, but it seems like it is already there, however, disappears after training is complete. How come not just persist the API key?

Tried it, and the iOS/Android app is a _very_ helpful tool! However,  that doesn't help my Colab use-case.

[2022-10-31 18:54] kalenmike commented on #110
@gblikas Hopefully I can clear up some of the confusion.

The rate limits are applied to any request to our servers as the connection is via a third party (Colab or Your Local Agent). During training there are several requests to the server to fetch information and then to upload the metrics and checkpoints back up. All of these count against your request limits.

Your account limits are currently

[2022-10-31 19:00] kalenmike commented on #112
@gblikas At the moment we hide the API key because it has no use after training. The API key we show you for training is a concatenation of your accounts API key and the model ID.

You can get your API key from https://hub.ultralytics.com/settings by clicking on the API Key tabs.

You can get your model id by opening the model and looking at the address bar it is the string after `models/`
https:/

[2022-10-31 19:49] gblikas commented on #110
@kalenmike Thank you much for the feed back! Regarding,

2/seconds, 10/minute, 50/hour, 100/day

How do these Rate-Limits work, when the default Epoch count is set to 300? It sounds like with the default Hub settings, it would take 3 days to train with the default settings. Is that the case?

[2022-10-31 19:54] gblikas commented on #112
@kalenmike Thanks! This is what I wanted to know. Apologies, if I missed this in the documentation somewhere!

[2022-10-31 20:17] glenn-jocher commented on #108
@zsefvbhu you can't do this in HUB yet, but you can download your HUB model and use it with the YOLOv5 repo, i.e. with detect.py for videos using --save-txt to output to text file, or using PyTorch Hub inference for the most flexibility (recommended).

YOLOv5 🚀 [PyTorch Hub](https://github.com/ultralytics/yolov5/issues/36) models allow for simple model loading and inference in a pure python enviro

[2022-10-31 20:18] glenn-jocher commented on #110
@gblikas 1 usage == 1 training. So theoretically you could train up to 100 models per day.

[2022-10-31 21:57] gblikas commented on #110
@glenn-jocher , @kalenmike had said this,

This implies that there is one "usage" per Epoch; @glenn-jocher Are you saying that is not the case?

[2022-11-01 07:11] kalenmike commented on #110
@gblikas Correct, the the limits are applied per epoch not per training. You can currently train up to 100 epochs per day, depending on the speed of training.

[2022-11-01 10:36] glenn-jocher commented on #110
@gblikas sorry for the confusion. We've updated rate limits accordingly so you should be able to train many models per day to 300 epochs each. This should be in effect now using `ultralytics==0.0.37`.

Please let us know if you have any other issues or feedback for improving HUB!

[2022-11-01 13:30] kalenmike commented on #110
@gblikas We gave it some thought and move a few things around. You will be happy to hear that this allowed us to increase our limits.
The new default limits are:
`2/seconds, 62/minute, 400/hour, 6200/day`

[2022-11-01 16:30] lakyfarky opened #113 "Optimizer selection"
### Search before asking

- [X] I have searched the HUB [issues](https://github.com/ultralytics/hub/issues) and [discussions](https://github.com/ultralytics/hub/discussions) and found no similar questions.

### Question

Hi, is there a possibility to change the optimizer during the training via google colab API?

### Additional

_No response_

[2022-11-01 18:14] glenn-jocher commented on #113
@lakyfarky in any AI application training settings are defined prior to training start and are not modified once training starts.

[2022-11-01 18:21] gblikas commented on #110
@kalenmike I'll give this a shot soon; perhaps we can close the issue... Unfortunately, I need more compute units to make the training viable. It would be _awesome_ ,if ya'll did a promotion for computer units with GCP/Colab 😏

[2022-11-01 18:31] glenn-jocher commented on #110
@gblikas that's not a bad idea... but ya unfortunately Google started capping Colab usage on faster GPUs. I'm on the Pro+ plan for $50/mo and it looks like I have as much T4 time as I want, but V100 time seems rationed with the units now.

[2022-11-01 18:32] lakyfarky commented on #113
Oh my bad... I thought "before the training". I didn't see optimizer settings on the hub so I changed default optimizer in train.py before train with API in colab.

[2022-11-01 18:33] gblikas commented on #110
I think you can buy 100 compute units in 10$ chunks as much as you want, giving you access to V100 - albeit expensively 🤣

[2022-11-01 18:38] glenn-jocher commented on #110
@gblikas yeah I don't know if it's that different than just straight GCP pricing. Let me see what GCP shows. Ok V100 would be $2.00/hr on demand, $0.82/hr spot price.

How many hours does $10 of credits buy you?

[2022-11-01 18:46] gblikas commented on #110
Via Colab pricing, $10 - 100 compute units - is ~200 Epoch worth of computing with my models; VisDrone in YOLOv5n. So, it doesn't quite train a full model - it seemed to take around 8 hours to do the ~200 epochs.

[2022-11-01 18:51] glenn-jocher commented on #110
@gblikas ok, so halfway between spot and on demand pricing. If you're training mostly Colab make sure you are using RAM or Disk caching here, this will likely speed up your training. Try RAM first, then disk if you run out of RAM.

<img width="1367" alt="Screenshot 2022-11-01 at 19 50 28" src="https://user-images.githubusercontent.com/26833433/199314520-9dd068f0-b363-4b64-a778-5d79ff883568.png">

[2022-11-01 19:10] gblikas commented on #110
@glenn-jocher Yes, I was uing RAM cache.

[2022-11-03 03:28] dubrovin-sudo commented on #98
When do you guys expect an update for the Android app?

[2022-11-03 07:48] zsefvbhu commented on #108
How can i run this model in a video file?

[2022-11-03 11:17] sergiossm commented on #98
@dubrovin-sudo version 0.3.3 is available on [Android](https://play.google.com/store/apps/details?id=com.ultralytics.ultralytics_app). Please, uninstall the previous version before updating the app, and let us know if the issue persists.

Thanks!

[2022-11-03 17:32] kalenmike commented on #108
@zsefvbhu Using YOLOv5 you just need to use the correct arguments.
[code]

[2022-11-03 17:34] zsefvbhu commented on #108
no loop through frame is required?

[2022-11-03 17:50] kalenmike commented on #108
@zsefvbhu Sorry I misunderstood you, this will generate frames with the bounding boxes overlayed. It will not return the data for plotting.

[2022-11-03 18:30] zsefvbhu commented on #108
Ok, I actually need those pixel coordinates like Xmin, Ymin, Xmax, Ymax for those detection bounding boxes

[2022-11-04 15:38] rspandolfi opened #114 "Quick Start with Raspberry Pi"
### Search before asking

- [X] I have searched the HUB [issues](https://github.com/ultralytics/hub/issues) and [discussions](https://github.com/ultralytics/hub/discussions) and found no similar questions.

### Question

Today many students and others want to get started quickly using a low cost and widely distributed Raspberry Pi with V1, V2, or HQ (V3) Raspberry Pi Cameras. During the past few m

[2022-11-04 23:25] glenn-jocher commented on #114
@rspandolfi thanks for the suggestion! We have a Jetson Nano tutorial in https://docs.ultralytics.com/tutorials/nvidia-jetson/ but do not have an RPi-specific tutorial. If you'd like to contribute one that would be a great help :)

[2022-11-09 15:25] rspandolfi opened #116 "How to create a NODE in the HUB for sharing within an organization?"
### Search before asking

- [X] I have searched the HUB [issues](https://github.com/ultralytics/hub/issues) and [discussions](https://github.com/ultralytics/hub/discussions) and found no similar questions.

### Question

At Kashmir World Foundation, we have students, interns, academics, and professionals from around the world collaborating on use of YOLOv5 to protect endangered species. We are loo

[2022-11-09 15:26] kalenmike commented on #116
@rspandolfi Thanks for the question. We are currently working on releasing a teams feature that will allow you to do everything you need. Its the current active feature and will be the next one out the door.

[2022-11-09 17:09] glenn-jocher commented on #116
@rspandolfi yes as Kalen mentioned we're currently working on a Teams feature.

Could you tell us a little more about your teams? i.e. would you want one team for your entire organization, or several smaller teams? Might users be present in multiple teams?

[2022-11-09 17:25] rspandolfi commented on #116
Hi Glenn,

The taxonomy within Kashmir World Foundation is somewhat complex. The
larger project we will be deploying on your hub is Trinity. Under that are
Andromeda, Centaurus, Draco, Orion, and Pegasus. Of these, only Draco will
be involved with YOLOv5. Draco is split between two internal teams, but
they will all be sharing the same information.

If you are creating a HUB that supports complex t

[2022-11-12 04:32] DonkeySmall opened #118 "Сan't upload a 2 GB dataset to Ultralytics HUB, the download freezes at 9%."
Сan't upload a 2 GB dataset to Ultralytics HUB, the download freezes at 9%.

[2022-11-12 12:42] glenn-jocher commented on #118
@DonkeySmall hi, thanks for the bug report! You should be able to upload 2GB datasets without any problems. Can you share the dataset zip with us to help us reproduce the issue? If you'd like to share privately you can email glenn.jocher@ultralytics.com

[2022-11-12 13:13] #118 closed

[2022-11-15 15:00] rspandolfi commented on #114
Hi Glenn,

Attached is our contribution - an RPi specific tutorial!

Please feel free to add this to your list of tutorials.

Thanks,

Ron

Ronald Pandolfi, Ph.D.
Director, TACP-Network
CTO, Kashmir-Robotics,
a division of Kashmir World Foundation
www.KashmirWorldFoundation.org <http://www.kashmirworldfoundation.org/>

On Fri, Nov 4, 2022 at 7:26 PM Glenn Jocher ***@***.***>
wrote:

[2022-11-15 15:16] glenn-jocher commented on #116
@rspandolfi thanks for the info! We'll try to keep the teams flexible to allow users to join multiple teams :)

[2022-11-15 18:10] glenn-jocher commented on #114
@rspandolfi awesome thanks!

@AyushExel see Kashmir World Foundation's Rpi tutorial attached above

[2022-11-17 01:49] #99 closed

[2022-11-23 13:59] mehlkelm opened #120 "Upload dataset images and labels and handle the split in HUB"
### Search before asking

- [X] I have searched the HUB [issues](https://github.com/ultralytics/hub/issues) and found no similar feature requests.

### Description

It would be helpful if I could upload datasets without managing a fixed train/valid/test split myself. The HUB could distribute the images randomly according to a fixed or desired ratio.

### Use case

As a dataset manager I don't want

[2022-11-24 01:43] #100 closed

[2022-11-26 16:38] glenn-jocher commented on #120
@mehlkelm got it. This is a good feature request, I'll add it to our product roadmap.

@kalenmike @AyushExel @sergiossm see idea above to allow users to upload a single dataset split and then allow HUB to automatically split it according to pre-set ratios, i.e. 90/10 train/val probably.

@mehlkelm we have an autosplit function in YOLOv5 you can use as a quick fix in the interim:
https://github.com

[2022-11-26 18:43] glenn-jocher opened #121 "2x attempts on scheduled CI"
### Search before asking

- [X] I have searched the HUB [issues](https://github.com/ultralytics/hub/issues) and found no similar feature requests.

### Description

Run CI a second time after a first fail, only apply to scheduled runs. @kalenmike

### Use case

Mitigate false alarms, i.e. network failures, unreproducible errors.

### Additional

_No response_

[2022-11-27 08:32] c-eckert opened #122 "How to upload locally trained model files?"
### Search before asking

- [X] I have searched the HUB [issues](https://github.com/ultralytics/hub/issues) and [discussions](https://github.com/ultralytics/hub/discussions) and found no similar questions.

### Question

Hi there,

is there a way to upload my yolov5 models, which are already trained locally without connection to ultralytics HUB?
My goal is, to check the inference of my models with

[2022-11-27 10:52] mehlkelm commented on #120
Awesome, thanks

I saw that, but assumed this is not applicable for training done from the hub?

[2022-11-27 13:07] glenn-jocher commented on #120
@mehlkelm autosplit() isn't connected to anything right now, it's mainly there as a function that users can run manually on an existing dataset.

[2022-11-27 14:45] glenn-jocher commented on #122
@c-eckert thanks for the feature request! We have this feature in our roadmap and are planning to release this sometime in Q1 2023.

[2022-11-27 14:54] c-eckert commented on #122
Okay great, thanks for the response❤️

[2022-11-28 12:33] barney2074 commented on #5
Hello

Can someone hlep me with the format of the dataset if using the output from the YoloV5 'autosplit' function.
It works when I run it locally, but not on HUB. I've tried a few different options, playing around with path format etc in both the YAML and autosplit text files- but get an 'images not found' message

My YAML:
![image](https://user-images.githubusercontent.com/25944617/204278363-bb7

[2022-11-30 03:23] glenn-jocher commented on #5
@barney2074 oh, this is interesting. We've not actually tested autosplit datasets with HUB, so it could be that this is not supported yet. It should work locally though, this has been tested and is the intended use case. I'll add a TODO to investigate this.

[2022-11-30 18:54] heyapps opened #123 "Can't load 20gb dataset."
### Search before asking

- [X] I have searched the HUB [issues](https://github.com/ultralytics/hub/issues) and [discussions](https://github.com/ultralytics/hub/discussions) and found no similar questions.

### Question

Can't load 20gb custom dataset. Unknown error on scanning step.

### Additional

_No response_

[2022-11-30 19:12] kalenmike commented on #123
@heyapps Sorry to hear that you are having issues with your dataset. With the information you have given it is difficult for me to help to identify the issue. May I suggest that you amend your dataset to make it smaller and try the upload again. You can do this by copying the dataset structure but using only 6 images and the associated labels. Smaller datasets will check for the most common errors

[2022-11-30 19:19] heyapps commented on #123
@kalenmike i did it with a small dataset and it works perfect, maybe its ultalytics processing error while scanning phase of the 20gb custom dataset?